Repository NorwegianRefugeeCouncil/core-uganda-pilot: changes, and which Prow jobs are due for each by the changed paths.
All: pull-core-web-frontend-test, pull-core-web-auth-test, pull-core-go-test

pull-core-web-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node
      command:
      - bash
      - -c
      args:
      - './scripts/build-client.sh && ./scripts/build-auth.sh && ./scripts/build-design-system.sh && ./scripts/build-frontend.sh && cd web/app/frontend && yarn test
  
        '

pull-core-web-auth-test:
  decorate: true
  spec:
    containers:
    - image: node
      command:
      - bash
      - -c
      args:
      - cd web/auth && yarn install --frozen-lockfile && yarn test --all

pull-core-go-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.16
      command:
      - bash
      - -c
      args:
  ...

COR-333: use first day of week
  web/auth/package.json
  web/auth/yarn.lock
  web/pwa/src/features/browser/FormBrowser.tsx
  web/pwa/src/features/browser/RecordBrowser.tsx
  web/pwa/src/features/recorder/FieldEditor.tsx
  web/pwa/yarn.lock
Due: pull-core-web-frontend-test, pull-core-web-auth-test

COR-333: add week to supported types
  pkg/api/types/validation/record.go
Due: pull-core-go-test

implement controlled week field
  pkg/sql/convert/convert.go
  web/pwa/src/features/recorder/FieldEditor.tsx
Due: pull-core-go-test

test progress
  web/pwa/src/features/recorder/FieldEditor.test.tsx
Due: none

COR-333: add week functionality to backend
  docs/concepts.md
  pkg/api/types/field_type.go
  pkg/api/types/field_type_test.go
  pkg/api/types/fieldkind_string.go
  pkg/api/types/validation/form.go
  pkg/api/types/validation/form_test.go
  pkg/api/types/validation/record.go
  pkg/sqlmanager/build_field.go
  pkg/sqlmanager/build_week_field.go
  pkg/sqlmanager/schema_test.go
  web/pwa/package.json
  web/pwa/src/features/browser/FormBrowser.tsx
  web/pwa/src/features/browser/RecordBrowser.tsx
  web/pwa/src/features/recorder/FieldEditor.test.tsx
  web/pwa/src/features/recorder/FieldEditor.tsx
  web/pwa/yarn.lock
Due: pull-core-go-test

progress on testing week and month field editors
  web/pwa/package-lock.json
  web/pwa/package.json
  web/pwa/src/features/recorder/FieldEditor.test.tsx
  web/pwa/src/features/recorder/FieldEditor.tsx
Due: none

progress
  pkg/api/types/field_type.go
  pkg/sql/convert/convert.go
  pkg/store/form.go
  web/app/client/src/lib/types/index.ts
  web/pwa/src/features/former/FieldTypePicker.tsx
  web/pwa/src/features/former/former.slice.ts
  web/pwa/src/features/recorder/FieldEditor.tsx
Due: pull-core-go-test

bootstrap tests for week and month field editors
  web/pwa/src/features/recorder/FieldEditor.test.tsx
Due: none

COR-333: add week to form reader and writer
  go.mod
  go.sum
  pkg/api/types/validation/record.go
  pkg/api/types/validation/record_test.go
  pkg/sqlmanager/build_field.go
  pkg/sqlmanager/formreader.go
  pkg/sqlmanager/formreader_test.go
  pkg/sqlmanager/formwriter.go
  pkg/sqlmanager/formwriter_test.go
  pkg/testutils/options.go
  pkg/utils/dates/isoweek.go
  web/pwa/src/features/browser/FormBrowser.tsx
  web/pwa/src/features/recorder/FieldEditor.tsx
Due: pull-core-go-test

COR-333: add go package
  go.mod
  go.sum
  tools/main.go
Due: pull-core-go-test

COR-333: update pwa dependencies
  web/pwa/package.json
  web/pwa/yarn.lock
Due: none

COR-333: remove package lock
  web/pwa/package-lock.json
Due: none

COR-333: remove obsolete test
  web/pwa/src/features/recorder/FieldEditor.test.tsx
Due: none

COR-333: clean up
  web/pwa/src/features/browser/FormBrowser.tsx
  web/pwa/src/features/recorder/FieldEditor.tsx
Due: none

setup tests
  web/app/client/package.json
  web/app/frontend/yarn.lock
Due: pull-core-web-frontend-test

more tests
  web/app/frontend/__tests__/screens/AddRecordScreen.test.tsx
  web/app/frontend/__tests__/screens/__snapshots__/AddRecordScreen.test.tsx.snap
  web/app/frontend/src/components/screens/AddRecordScreen.tsx
Due: pull-core-web-frontend-test

revert client from default to named export
  web/app/client/src/index.ts
  web/app/frontend/src/utils/clients.ts
Due: pull-core-web-frontend-test

update exports
  web/app/client/package.json
  web/app/client/src/index.ts
  web/app/client/tsconfig.build.json
  web/app/client/tsconfig.json
Due: none

remove commented code
  web/app/frontend/src/components/screens/AddRecordScreen.tsx
Due: pull-core-web-frontend-test

Update Router.tsx
  web/app/frontend/src/components/Router.tsx
Due: pull-core-web-frontend-test

revert changes to ErrorBoundary
  web/app/frontend/src/components/ErrorBoundary.tsx
Due: pull-core-web-frontend-test

revert changed to client/tsconfig.build.json
  web/app/client/tsconfig.build.json
Due: none

remove commented code
  web/app/frontend/src/components/screen_containers/AddRecordScreenContainer.tsx
Due: pull-core-web-frontend-test

add record screen test
  web/app/client/package.json
  web/app/client/src/index.ts
  web/app/frontend/__tests__/screens/AddRecordScreen.test.tsx
  web/app/frontend/__tests__/screens/__snapshots__/AddRecordScreen.test.tsx.snap
  web/app/frontend/src/components/ErrorBoundary.tsx
  web/app/frontend/src/components/form/FormControl.tsx
  web/app/frontend/src/components/form/TextInput.tsx
  web/app/frontend/src/components/screen_containers/AddRecordScreenContainer.tsx
  web/app/frontend/src/components/screens/AddRecordScreen.tsx
  web/app/frontend/src/constants/testIds.js
  web/app/frontend/src/types/screens.ts
  web/app/frontend/yarn.lock
Due: pull-core-web-frontend-test

split AddRecordScreen into screen and container
  web/app/frontend/src/components/Router.tsx
  web/app/frontend/src/components/screen_containers/AddRecordScreenContainer.tsx
  web/app/frontend/src/components/screens/AddRecordScreen.tsx
  web/app/frontend/src/utils/getNetworkState.ts
Due: pull-core-web-frontend-test

lint and pr tweaks
  web/app/frontend/__tests__/screens/AddRecordScreen.test.tsx
  web/app/frontend/src/components/Router.tsx
  web/app/frontend/src/components/form/FormControl.tsx
  web/app/frontend/src/components/form/TextInput.tsx
  web/app/frontend/src/components/screen_containers/AddRecordScreenContainer.tsx
  web/app/frontend/src/components/screens/AddRecordScreen.tsx
  web/app/frontend/src/constants/testIds.js
  web/app/frontend/src/types/screens.ts
  web/app/frontend/src/utils/getNetworkState.ts
  web/app/frontend/yarn.lock
Due: pull-core-web-frontend-test

revert version change on the `client/package.json`
  web/app/client/package.json
Due: none

remove redundant testID prop
  web/app/frontend/src/components/form/FormControl.tsx
  web/app/frontend/src/components/screens/AddRecordScreen.tsx
Due: pull-core-web-frontend-test

Update web/app/frontend/src/components/screens/AddRecordScreen.tsx
  web/app/frontend/src/components/screens/AddRecordScreen.tsx
Due: pull-core-web-frontend-test

Make changes on pwa to send list of record values instead of a map
  web/app/frontend/yarn.lock
  web/pwa/src/features/browser/FormBrowser.tsx
Due: pull-core-web-frontend-test

Update FormBrowser.tsx
  web/pwa/src/features/browser/FormBrowser.tsx
Due: none

add record screen test
  web/app/frontend/__tests__/screens/AddRecordScreen.test.tsx
  web/app/frontend/src/components/ErrorBoundary.tsx
  web/app/frontend/src/components/screen_containers/AddRecordScreenContainer.tsx
  web/app/frontend/yarn.lock
Due: pull-core-web-frontend-test

lint and pr tweaks
  web/app/frontend/src/components/screens/AddRecordScreen.tsx
  web/app/frontend/yarn.lock
Due: pull-core-web-frontend-test

add test
  web/app/frontend/__tests__/screen_containers/AddRecordScreenContainer.test.tsx
  web/app/frontend/__tests__/screen_containers/__snapshots__/AddRecordScreenContainer.test.tsx.snap
  web/app/frontend/__tests__/screens/__snapshots__/AddRecordScreen.test.tsx.snap
  web/app/frontend/src/components/screen_containers/AddRecordScreenContainer.tsx
  web/app/frontend/src/components/screens/AddRecordScreen.tsx
Due: pull-core-web-frontend-test

setup tests
  web/app/frontend/yarn.lock
Due: pull-core-web-frontend-test

update exports
  web/app/client/tsconfig.build.json
Due: none

split AddRecordScreen into screen and container
  web/app/frontend/src/components/screens/AddRecordScreen.tsx
Due: pull-core-web-frontend-test

add record screen test
  web/app/frontend/__tests__/screens/__snapshots__/AddRecordScreen.test.tsx.snap
  web/app/frontend/src/components/form/FormControl.tsx
  web/app/frontend/src/components/form/TextInput.tsx
  web/app/frontend/src/components/screens/AddRecordScreen.tsx
  web/app/frontend/src/constants/testIds.js
  web/app/frontend/src/types/screens.ts
  web/app/frontend/yarn.lock
Due: pull-core-web-frontend-test

Path conditions:
  pull-core-web-frontend-test: any of: ^web/app/frontend|^web/designsystem|^web/auth|^web/client
  pull-core-web-auth-test: any of: web/auth/*
  pull-core-go-test: any of: .go$|^go.mod$|^go.sum$
