Repository NorwegianRefugeeCouncil/core-uganda-pilot: changes, and which Prow jobs are due for each by the changed paths.
All: pull-core-web-frontend-test, pull-core-web-auth-test, pull-core-go-test

.prow/pull-core-web-app-frontend-test.yaml:

postsubmits:
  - name: pull-core-web-frontend-test
    run_if_changed: "^web/app/frontend|^web/designsystem|^web/auth|^web/client"
    decorate: true
    spec:
      containers:
        - image: node
          command: [ "bash", "-c" ]
          args:
            - >
              ./scripts/build-client.sh &&
              ./scripts/build-auth.sh &&
              ./scripts/build-design-system.sh &&
              ./scripts/build-frontend.sh &&
              cd web/app/frontend &&
              yarn test

.prow/pull-core-web-auth-test.yaml:

postsubmits:
  - name: pull-core-web-auth-test
    run_if_changed: "web/auth/*"
    decorate: true
    spec:
      containers:
        - image: node
          command: [ "bash", "-c" ]
          args: [ "cd web/auth && yarn install --frozen-lockfile && yarn test --all"]

.prow/push-core-go-test.yaml:

presubmits:
  - name: pull-core-go-test
    run_if_changed: ".go$|^go.mod$|^go.sum$"
    decorate: true
    spec:
      containers:
        - image: golang:1.16
          command: [ "bash", "-c" ]
          args:
            - >
              echo "Creating user" &&
              useradd go --create-home &&
              echo "Setting permissions" &&
              chown -R go:go . &&
              echo "Running as user 'go'" &&
              su go -c '
                echo "Downloading modules" &&
                go mod download &&
                echo "Running make gen" &&
                make gen &&
                echo "Checking make gen changes" &&
                git diff --exit-code &&
                echo "Running tests" &&
                go test ./pkg/...
              ' &&
              echo "Done"

lint and pr tweaks
  web/app/frontend/src/components/form/FormControl.tsx
  web/app/frontend/src/components/form/TextInput.tsx
  web/app/frontend/src/constants/testIds.js
  web/app/frontend/src/types/screens.ts
  web/app/frontend/yarn.lock
Due: pull-core-web-frontend-test

more tests
  web/app/frontend/__tests__/screens/__snapshots__/AddRecordScreen.test.tsx.snap
Due: pull-core-web-frontend-test

add test
  web/app/frontend/__tests__/screens/__snapshots__/AddRecordScreen.test.tsx.snap
Due: pull-core-web-frontend-test

fix setting network state for tests
  web/app/frontend/__tests__/screen_containers/AddRecordScreenContainer.test.tsx
  web/app/frontend/__tests__/screen_containers/__snapshots__/AddRecordScreenContainer.test.tsx.snap
Due: pull-core-web-frontend-test

add online test
  web/app/frontend/__tests__/screen_containers/AddRecordScreenContainer.test.tsx
  web/app/frontend/src/components/screen_containers/AddRecordScreenContainer.tsx
Due: pull-core-web-frontend-test

change default to named import
  web/app/frontend/src/components/screen_containers/ViewRecordScreenContainer.tsx
Due: pull-core-web-frontend-test

fixed jest bug
  web/app/frontend/__tests__/screen_containers/AddRecordScreenContainer.test.tsx
Due: pull-core-web-frontend-test

update snapshot
  web/app/frontend/__tests__/screen_containers/__snapshots__/AddRecordScreenContainer.test.tsx.snap
Due: pull-core-web-frontend-test

update snapshot
  web/app/frontend/__tests__/screens/__snapshots__/AddRecordScreen.test.tsx.snap
Due: pull-core-web-frontend-test

Move admin app to lerna repo
  frontend/apps/admin/README.md
  frontend/apps/admin/package.json
  frontend/apps/admin/public/favicon.ico
  frontend/apps/admin/public/index.html
  frontend/apps/admin/public/logo192.png
  frontend/apps/admin/public/logo512.png
  frontend/apps/admin/public/manifest.json
  frontend/apps/admin/public/robots.txt
  frontend/apps/admin/src/App.scss
  frontend/apps/admin/src/App.test.tsx
  frontend/apps/admin/src/App.tsx
  frontend/apps/admin/src/client/client.ts
  frontend/apps/admin/src/components/AuthenticatedApp.tsx
  frontend/apps/admin/src/components/clients/ClientEditor.tsx
  frontend/apps/admin/src/components/clients/Clients.tsx
  frontend/apps/admin/src/components/formcontrol/FormControl.tsx
  frontend/apps/admin/src/components/navbar/NavBar.tsx
  frontend/apps/admin/src/components/organizations/OrganizationEditor.tsx
  frontend/apps/admin/src/components/organizations/OrganizationOverview.tsx
  frontend/apps/admin/src/components/organizations/OrganizationPortal.tsx
  frontend/apps/admin/src/components/organizations/OrganizationSideBar.tsx
  frontend/apps/admin/src/components/organizations/Organizations.tsx
  frontend/apps/admin/src/components/organizations/identityproviders/IdentityProviderEditor.tsx
  frontend/apps/admin/src/components/organizations/identityproviders/IdentityProviders.tsx
  frontend/apps/admin/src/components/sectiontitle/SectionTitle.tsx
  frontend/apps/admin/src/hooks/hooks.tsx
  frontend/apps/admin/src/index.css
  frontend/apps/admin/src/index.tsx
  frontend/apps/admin/src/logo.svg
  frontend/apps/admin/src/react-app-env.d.ts
  frontend/apps/admin/src/setupTests.ts
  frontend/apps/admin/src/types/restTypes.ts
  frontend/apps/admin/src/types/types.ts
  frontend/apps/admin/src/types/utils.ts
  frontend/apps/admin/src/utils/reportWebVitals.ts
  frontend/apps/admin/src/utils/responses.ts
  frontend/apps/admin/tsconfig.json
  frontend/apps/admin/yarn.lock
  web/admin/package.json
Due: none

Move admin gitignore file
  frontend/apps/admin/.gitignore
Due: none

Migrate core-api-client
  frontend/packages/core-api-client/.gitignore
  frontend/packages/core-api-client/package.json
  frontend/packages/core-api-client/src/index.ts
  frontend/packages/core-api-client/src/lib/client.ts
  frontend/packages/core-api-client/src/lib/types/index.ts
  frontend/packages/core-api-client/src/lib/utils/getFieldKind.ts
  frontend/packages/core-api-client/src/lib/utils/index.ts
  frontend/packages/core-api-client/src/lib/utils/responses.ts
  frontend/packages/core-api-client/tsconfig.build.json
  frontend/packages/core-api-client/tsconfig.json
  frontend/packages/core-api-client/yarn.lock
  web/app/client/package.json
Due: none

Migrate core-auth
  frontend/packages/core-auth/.gitignore
  frontend/packages/core-auth/README.md
  frontend/packages/core-auth/babel.config.js
  frontend/packages/core-auth/custom-test-env.ts
  frontend/packages/core-auth/package.json
  frontend/packages/core-auth/src/components/AuthWrapper.tsx
  frontend/packages/core-auth/src/components/ErrorBoundary.tsx
  frontend/packages/core-auth/src/components/__tests__/AuthWrapper.test.tsx
  frontend/packages/core-auth/src/hooks/useAuthRequest.ts
  frontend/packages/core-auth/src/hooks/useAuthRequestResult.ts
  frontend/packages/core-auth/src/hooks/useDiscovery.ts
  frontend/packages/core-auth/src/hooks/useLoadedAuthRequest.ts
  frontend/packages/core-auth/src/index.ts
  frontend/packages/core-auth/src/react-app-env.d.ts
  frontend/packages/core-auth/src/reportWebVitals.js
  frontend/packages/core-auth/src/setupTests.js
  frontend/packages/core-auth/src/types/__tests__/browser.test.js
  frontend/packages/core-auth/src/types/authrequest.ts
  frontend/packages/core-auth/src/types/browser.ts
  frontend/packages/core-auth/src/types/error.ts
  frontend/packages/core-auth/src/types/request.ts
  frontend/packages/core-auth/src/types/response.ts
  frontend/packages/core-auth/src/types/types.ts
  frontend/packages/core-auth/src/utils/__tests__/buildQueryString.test.js
  frontend/packages/core-auth/src/utils/__tests__/exchangeCodeAsync.test.js
  frontend/packages/core-auth/src/utils/__tests__/getCurrentTimeInSeconds.test.js
  frontend/packages/core-auth/src/utils/__tests__/helpers.test.js
  frontend/packages/core-auth/src/utils/__tests__/queryParams.test.js
  frontend/packages/core-auth/src/utils/__tests__/resolveDiscoveryAsync.test.js
  frontend/packages/core-auth/src/utils/buildQueryString.ts
  frontend/packages/core-auth/src/utils/exchangeCodeAsync.ts
  frontend/packages/core-auth/src/utils/getCurrentTimeInSeconds.ts
  frontend/packages/core-auth/src/utils/helpers.ts
  frontend/packages/core-auth/src/utils/queryparams.ts
  frontend/packages/core-auth/src/utils/resolveDiscoveryAsync.ts
  frontend/packages/core-auth/tsconfig.build.json
  frontend/packages/core-auth/tsconfig.json
  frontend/packages/core-auth/yarn.lock
  web/auth/package.json
Due: pull-core-web-frontend-test, pull-core-web-auth-test

Migrate design system
  frontend/storybook/.gitignore
  frontend/storybook/App.tsx
  frontend/storybook/app.json
  frontend/storybook/assets/adaptive-icon.png
  frontend/storybook/assets/favicon.png
  frontend/storybook/assets/icon.png
  frontend/storybook/assets/splash.png
  frontend/storybook/babel.config.js
  frontend/storybook/package.json
  frontend/storybook/storybook/addons.js
  frontend/storybook/storybook/index.js
  frontend/storybook/storybook/rn-addons.js
  frontend/storybook/storybook/stories/Button/Button.stories.js
  frontend/storybook/storybook/stories/CenterView/index.js
  frontend/storybook/storybook/stories/CenterView/style.js
  frontend/storybook/storybook/stories/Icon/Icon.stories.js
  frontend/storybook/storybook/stories/Welcome/Welcome.stories.js
  frontend/storybook/storybook/stories/Welcome/index.js
  frontend/storybook/storybook/stories/index.js
  frontend/storybook/tsconfig.json
  frontend/storybook/yarn.lock
  web/storyBook/package.json
Due: none

Update native app name
  frontend/apps/native/package.json
Due: none

Update import paths for local packages
  frontend/apps/admin/package.json
  frontend/apps/native/package.json
  frontend/apps/pwa/package.json
  frontend/packages/core-api-client/package.json
  frontend/storybook/package.json
Due: none

Move storybook expo-shared
  frontend/storybook/.expo-shared/assets.json
Due: none

Add build/test scripts
  frontend/package.json
Due: none

Add root yarn.lock
  frontend/yarn.lock
Due: none

Add name to storybook
  frontend/storybook/package.json
Due: none

Run tests only in src directory
  frontend/packages/core-auth/package.json
Due: none

Fix build scripts
  frontend/packages/core-auth/package.json
Due: none

Remove nested yarn.lock's
  frontend/apps/admin/yarn.lock
  frontend/packages/core-api-client/yarn.lock
  frontend/packages/design-system/yarn.lock
Due: none

Configure expo to work with yarn workspaces
  frontend/app.json
  frontend/apps/native/.gitignore
  frontend/apps/native/metro.config.js
  frontend/apps/native/package.json
  frontend/apps/native/webpack.config.js
Due: none

Move sql wasm to postinstall and fix path
  frontend/apps/pwa/package.json
  scripts/serve-native.sh
Due: none

Update paths in .env generation
  cmd/devinit/core_admin_frontend.go
  cmd/devinit/core_app_frontend.go
  cmd/devinit/core_native_app.go
Due: pull-core-go-test

Update yarn.lock
  frontend/yarn.lock
Due: none

Update prow build
  .prow/pull-core-frontend-test.yaml
  .prow/pull-core-web-app-frontend-test.yaml
  .prow/pull-core-web-auth-test.yaml
Due: none

Update docs
  docs/file_structure.md
  docs/getting_started.md
Due: none

Force tests to look for App.tsx rather than app.json
  frontend/apps/native/__tests__/App.test.tsx
Due: none

Update import for bootstrap scss
  frontend/apps/admin/src/App.scss
Due: none

Update make scripts
  Makefile
  frontend/package.json
  scripts/build-auth.sh
  scripts/build-client.sh
  scripts/build-design-system.sh
  scripts/build-frontend.sh
  scripts/build-pwa.sh
  scripts/build-storybook.sh
  scripts/client.sh
  scripts/install-all.sh
  scripts/prepare-frontend.sh
  scripts/serve-admin.sh
  scripts/serve-native.sh
  scripts/serve-pwa.sh
  scripts/serve-storybook.sh
Due: none

Move react, react-dom, and typescript to root
  frontend/apps/admin/package.json
  frontend/apps/native/package.json
  frontend/apps/pwa/package.json
  frontend/package.json
  frontend/packages/core-api-client/package.json
  frontend/packages/core-auth/package.json
  frontend/packages/design-system/package.json
Due: none

Add babel-loader and jest to resolutions
  frontend/package.json
  frontend/yarn.lock
Due: none

Manage local dependencies with lerna
  frontend/apps/admin/package.json
  frontend/apps/native/package.json
  frontend/apps/pwa/package.json
  frontend/storybook/package.json
  frontend/yarn.lock
  web/pwa/package.json
Due: none

use new SQLManager and simplify form store implementation
  pkg/server/public/handlers/form/create.go
  pkg/store/form.go
  pkg/store/form_test.go
Due: pull-core-go-test

remove unused code
  pkg/sql/convert/convert.go
  pkg/sql/convert/convert_test.go
  pkg/sql/convert/create.go
Due: pull-core-go-test
