Repository NorwegianRefugeeCouncil/core-uganda-pilot: changes, and which Prow jobs are due for each by the changed paths.
All: pull-core-frontend-test, pull-core-pwa-test, pull-core-web-frontend-test, pull-core-web-auth-test, pull-core-go-test

pull-core-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node
      command:
      - bash
      - -c
      args:
      - './scripts/prepare-frontend.sh && cd frontend && yarn test:stable
  
        '
      env:
      - name: REACT_APP_OIDC_ISSUER
        value: https://fake.oidc.issuer.nrc.no
      - name: REACT_APP_OAUTH_SCOPE
  ...

pull-core-pwa-test:
  decorate: true
  spec:
    containers:
    - image: node
      command:
      - bash
      - -c
      args:
      - './scripts/build-client.sh && ./scripts/build-auth.sh && ./scripts/build-pwa.sh && cd web/pwa && yarn test
  
        '

pull-core-web-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node
      command:
      - bash
      - -c
      args:
      - './scripts/build-client.sh && ./scripts/build-auth.sh && ./scripts/build-design-system.sh && ./scripts/build-frontend.sh && cd web/app/frontend && yarn test
  
        '

pull-core-web-auth-test:
  decorate: true
  spec:
    containers:
    - image: node
      command:
      - bash
      - -c
      args:
      - cd web/auth && yarn install --frozen-lockfile && yarn test --all

pull-core-go-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.16
      command:
      - bash
      - -c
      args:
  ...

COR-415 remove urls.self server option
  cmd/devinit/core.go
  pkg/server/login/handlers/login/action.go
  pkg/server/login/handlers/login/handler.go
  pkg/server/login/server.go
  pkg/server/options/options.go
Due: pull-core-go-test

COR-416 remove sqljs from pwa
  frontend/apps/pwa/package.json
  frontend/yarn.lock
Due: pull-core-frontend-test

COR-416 remove sqljs from pwa
  frontend/apps/pwa/src/app/db.tsx
Due: pull-core-frontend-test

COR-408 do not run devinit on startup
  cmd/dev.go
  cmd/devinit/main.go
Due: pull-core-go-test

COR-417 documentation
  README.md
  frontend/apps/admin/README.md
  frontend/apps/pwa/README.md
  pkg/README.md
Due: pull-core-frontend-test

COR-419 admin app env var
  cmd/devinit/core_admin_frontend.go
Due: pull-core-go-test

COR-420 remove useless cache configs
  configs/config.yaml
Due: none

COR-418 build script
  Makefile
  scripts/build-images.sh
Due: none

COR-418 fix remove forgotten ctx
  cmd/serve_bouncer.go
Due: pull-core-go-test

Update core.go
  cmd/devinit/core.go
Due: pull-core-go-test

COR-421 reload database connection on config change
  cmd/devinit/core.go
  cmd/serve.go
  go.mod
  go.sum
  pkg/README.md
  pkg/server/public/tests/main_test.go
  pkg/store/.gitignore
  pkg/store/factory.go
  pkg/store/factory_test.go
Due: pull-core-go-test

COR-409 fix auth token injection logic
  frontend/apps/admin/src/App.tsx
  frontend/apps/admin/src/app/client.ts
  frontend/apps/admin/src/client/client.ts
  frontend/apps/admin/src/hooks/hooks.tsx
  frontend/apps/pwa/src/App.tsx
  frontend/apps/pwa/src/app/client.ts
  frontend/apps/pwa/src/app/hooks.ts
  frontend/packages/core-api-client/src/lib/client.ts
  frontend/packages/core-auth/src/components/AuthWrapper.tsx
  frontend/packages/core-auth/src/types/types.ts
Due: pull-core-frontend-test

COR-424 fix scratch build
  build/package/core.Dockerfile
Due: none

COR-424 fix docker build
  build/package/core.Dockerfile
  configs/authnz-frontend/replace-env-vars.sh
  configs/core-frontend/replace-env-vars.sh
Due: pull-core-frontend-test

Remove logrus logger
  cmd/clear.go
  cmd/migrate.go
  cmd/root.go
  cmd/serve.go
  go.mod
  go.sum
  pkg/server/generic/server.go
  pkg/server/login/handlers/login/action.go
  pkg/server/login/handlers/login/action_performing_auth_code_exchange.go
  pkg/utils/server.go
Due: pull-core-go-test

COR-426 allow string slice in record values
  pkg/api/types/record.go
  pkg/api/types/record_test.go
  pkg/api/types/validation/record.go
  pkg/api/types/validation/record_test.go
  pkg/server/public/tests/record_test.go
  pkg/sqlmanager/formreader.go
  pkg/sqlmanager/formreader_test.go
  pkg/testutils/options.go
Due: pull-core-go-test

COR-427 create multi select table
  pkg/sqlmanager/formwriter.go
  pkg/sqlmanager/formwriter_test.go
  pkg/sqlmanager/handle_create_column.go
  pkg/sqlmanager/handle_create_constraint.go
  pkg/sqlmanager/handle_create_table.go
  pkg/sqlmanager/handle_insert_record.go
  pkg/sqlmanager/schema.go
  pkg/sqlmanager/schema_test.go
Due: pull-core-go-test

COR-427 create multi select table
  pkg/sqlmanager/reader.go
  pkg/sqlmanager/reader_test.go
  pkg/sqlmanager/writer.go
  pkg/sqlmanager/writer_test.go
Due: pull-core-go-test

COR-430 multiselect sql table
  pkg/api/types/field_type.go
  pkg/api/types/fieldkind_string.go
  pkg/sqlmanager/build_field.go
  pkg/sqlmanager/build_multi_select_field.go
  pkg/sqlmanager/build_single_select_field.go
  pkg/sqlmanager/constants.go
  pkg/sqlmanager/writer_test.go
Due: pull-core-go-test

COR-430 fix sonarcloud
  pkg/sqlmanager/writer_test.go
Due: pull-core-go-test

COR-430 fix tests
  pkg/api/types/field_type_test.go
  pkg/sqlmanager/writer_test.go
  pkg/store/record.go
Due: pull-core-go-test

add types in frontend api client package
  frontend/packages/core-api-client/src/lib/types/index.ts
  frontend/packages/core-api-client/src/lib/utils/getFieldKind.ts
Due: pull-core-frontend-test

remove duplication in tests
  pkg/api/types/validation/form_test.go
Due: pull-core-go-test

COR-427 create multi select table
  pkg/sqlmanager/formwriter.go
  pkg/sqlmanager/formwriter_test.go
  pkg/sqlmanager/handle_create_column.go
  pkg/sqlmanager/handle_create_constraint.go
  pkg/sqlmanager/handle_create_table.go
  pkg/sqlmanager/handle_insert_record.go
  pkg/sqlmanager/reader.go
  pkg/sqlmanager/reader_test.go
  pkg/sqlmanager/schema.go
  pkg/sqlmanager/writer.go
  pkg/sqlmanager/writer_test.go
Due: pull-core-go-test

COR-430 multiselect sql table
  pkg/api/types/field_type.go
  pkg/api/types/field_type_test.go
  pkg/api/types/fieldkind_string.go
  pkg/sqlmanager/build_field.go
  pkg/sqlmanager/build_multi_select_field.go
  pkg/sqlmanager/build_single_select_field.go
  pkg/sqlmanager/constants.go
  pkg/sqlmanager/writer_test.go
  pkg/store/record.go
Due: pull-core-go-test

COR-431 Form validation logic
  pkg/api/types/validation/form.go
  pkg/api/types/validation/form_test.go
Due: pull-core-go-test

basic frontend changes to allow multi-select fields
  frontend/apps/pwa/src/components/RecordPicker.tsx
  frontend/apps/pwa/src/features/browser/RecordBrowser.tsx
  frontend/apps/pwa/src/features/recorder/FieldEditor.tsx
Due: pull-core-frontend-test

PR comments
  pkg/sqlmanager/reader.go
Due: pull-core-go-test

COR-429 Record validation logic
  pkg/api/types/record.go
  pkg/api/types/validation/record.go
  pkg/api/types/validation/record_test.go
  pkg/testutils/options.go
Due: pull-core-go-test

COR-428 Record hydration/storage logic
  pkg/api/types/record.go
  pkg/server/public/handlers/form/create.go
  pkg/server/public/tests/record_test.go
  pkg/sqlmanager/reader.go
  pkg/sqlmanager/reader_test.go
  pkg/sqlmanager/writer.go
  pkg/store/form.go
  pkg/store/record.go
Due: pull-core-go-test

add StringOrArray failing marshal test cases
  pkg/api/types/record_test.go
Due: pull-core-go-test

Run seed when server starts, try to create new folders and forms but failed
  cmd/seed.go
  cmd/seed_uganda.go
  cmd/serve.go
  pkg/seeder/seed.go
  pkg/seeder/static_forms.go
  scripts/seed-db.sh
Due: pull-core-go-test

refactor static data; refactor seed cmd
  cmd/seed.go
  cmd/seed_global.go
  cmd/seed_uganda.go
  pkg/seeder/build_fns.go
  pkg/seeder/common_field_definitions.go
  pkg/seeder/seed.go
  pkg/seeder/seed_global.go
  pkg/seeder/seed_uganda.go
  pkg/seeder/static_forms.go
  pkg/seeder/static_select_options.go
Due: pull-core-go-test

reverted serve setup
  cmd/serve.go
Due: pull-core-go-test

Changes to seeder
  cmd/seed.go
  cmd/seed_global.go
  cmd/seed_uganda.go
  pkg/api/types/validation/form.go
  pkg/api/types/validation/form_test.go
  pkg/rest/client.go
  pkg/seeder/seed.go
  pkg/seeder/seed_global.go
  pkg/seeder/seed_uganda.go
  pkg/seeder/static_select_options.go
Due: pull-core-go-test

DS-41: theming
  frontend/apps/native/__tests__/screen_containers/RecordsScreenContainer.test.tsx
  frontend/packages/core-auth/src/types/__tests__/browser.test.js
  frontend/packages/design-system/src/components/Button.tsx
  frontend/packages/design-system/src/components/Icon.tsx
  frontend/packages/design-system/src/components/icons/Chat.tsx
  frontend/packages/design-system/src/components/icons/Favorite.tsx
  frontend/packages/design-system/src/index.ts
  frontend/packages/design-system/src/themes/Button.ts
  frontend/packages/design-system/src/themes/index.ts
  frontend/packages/design-system/src/tokens/colors.ts
  frontend/packages/design-system/src/tokens/index.ts
  frontend/packages/design-system/src/types/types.ts
  frontend/storybook/App.tsx
  frontend/storybook/metro.config.js
  frontend/storybook/storybook/stories/Button/Button.stories.js
  frontend/storybook/storybook/stories/index.js
  frontend/storybook/webpack.config.js
Due: pull-core-frontend-test

Add a launch config to run the core api within vscode
  .gitignore
  .vscode/launch.json
Due: none

Rename `public` server to `forms` server
  cmd/serve_all.go
  cmd/serve_public.go
  pkg/server/forms/handlers/database/create.go
  pkg/server/forms/handlers/database/delete.go
  pkg/server/forms/handlers/database/get.go
  pkg/server/forms/handlers/database/handler.go
  pkg/server/forms/handlers/database/list.go
  pkg/server/forms/handlers/folder/create.go
  pkg/server/forms/handlers/folder/delete.go
  pkg/server/forms/handlers/folder/get.go
  pkg/server/forms/handlers/folder/handler.go
  pkg/server/forms/handlers/folder/list.go
  pkg/server/forms/handlers/form/create.go
  pkg/server/forms/handlers/form/delete.go
  pkg/server/forms/handlers/form/get.go
  pkg/server/forms/handlers/form/handler.go
  pkg/server/forms/handlers/form/list.go
  pkg/server/forms/handlers/record/create.go
  pkg/server/forms/handlers/record/get.go
  pkg/server/forms/handlers/record/handler.go
  pkg/server/forms/handlers/record/list.go
  pkg/server/forms/handlers/record/update.go
  pkg/server/forms/server.go
  pkg/server/forms/tests/database_test.go
  pkg/server/forms/tests/doc.go
  pkg/server/forms/tests/folder_test.go
  pkg/server/forms/tests/form_test.go
  pkg/server/forms/tests/helpers_test.go
  pkg/server/forms/tests/main_test.go
  pkg/server/forms/tests/record_test.go
Due: pull-core-go-test

Fix `cmd` imports
  cmd/serve_all.go
  cmd/serve_public.go
Due: pull-core-go-test

Path conditions:
  pull-core-frontend-test: any of: frontend/.*
  pull-core-pwa-test: any of: ^web/pwa
  pull-core-web-frontend-test: any of: ^web/app/frontend|^web/designsystem|^web/auth|^web/client
  pull-core-web-auth-test: any of: web/auth/*
  pull-core-go-test: any of: .go$|^go.mod$|^go.sum$
