Repository NorwegianRefugeeCouncil/core-uganda-pilot: changes, and which Prow jobs are due for each by the changed paths.
All: pull-core-frontend-test, pull-core-pwa-test, pull-core-web-frontend-test, pull-core-web-auth-test, pull-core-go-test

.prow/pull-core-frontend-test.yaml:

postsubmits:
  - name: pull-core-frontend-test
    run_if_changed: "^frontend"
    decorate: true
    spec:
      containers:
        - image: node
          command: [ "bash", "-c" ]
          args:
            - >
              ./scripts/prepare-frontend.sh &&
              cd frontend &&
              yarn test:stable

.prow/pull-core-pwa-test.yaml:

postsubmits:
  - name: pull-core-pwa-test
    run_if_changed: "^web/pwa"
    decorate: true
    spec:
      containers:
        - image: node
          command: [ "bash", "-c" ]
          args:
            - >
              ./scripts/build-client.sh &&
              ./scripts/build-auth.sh &&
              ./scripts/build-pwa.sh &&
              cd web/pwa &&
              yarn test

.prow/pull-core-web-app-frontend-test.yaml:

postsubmits:
  - name: pull-core-web-frontend-test
    run_if_changed: "^web/app/frontend|^web/designsystem|^web/auth|^web/client"
    decorate: true
    spec:
      containers:
        - image: node
          command: [ "bash", "-c" ]
          args:
            - >
              ./scripts/build-client.sh &&
              ./scripts/build-auth.sh &&
              ./scripts/build-design-system.sh &&
              ./scripts/build-frontend.sh &&
              cd web/app/frontend &&
              yarn test

.prow/pull-core-web-auth-test.yaml:

postsubmits:
  - name: pull-core-web-auth-test
    run_if_changed: "web/auth/*"
    decorate: true
    spec:
      containers:
        - image: node
          command: [ "bash", "-c" ]
          args: [ "cd web/auth && yarn install --frozen-lockfile && yarn test --all"]

.prow/push-core-go-test.yaml:

presubmits:
  - name: pull-core-go-test
    run_if_changed: ".go$|^go.mod$|^go.sum$"
    decorate: true
    spec:
      containers:
        - image: golang:1.16
          command: [ "bash", "-c" ]
          args:
            - >
              echo "Creating user" &&
              useradd go --create-home &&
              echo "Setting permissions" &&
              chown -R go:go . &&
              echo "Running as user 'go'" &&
              su go -c '
                echo "Downloading modules" &&
                go mod download &&
                echo "Running make gen" &&
                make gen &&
                echo "Checking make gen changes" &&
                git diff --exit-code &&
                echo "Running tests" &&
                go test ./pkg/...
              ' &&
              echo "Done"

Stream lerna output
  frontend/package.json
Due: pull-core-frontend-test

Run all tests
  frontend/package.json
Due: pull-core-frontend-test

Skip test
  frontend/apps/pwa/src/App.test.tsx
Due: pull-core-frontend-test

Unskip test
  frontend/apps/pwa/src/App.test.tsx
Due: pull-core-frontend-test

Use https in tests
  frontend/packages/core-auth/src/types/__tests__/browser.test.js
  frontend/packages/core-auth/src/utils/__tests__/helpers.test.js
Due: pull-core-frontend-test

Linting config update
  frontend/.eslintrc.js
  frontend/.prettierrc.js
Due: pull-core-frontend-test

Add compiler flag for fragments
  frontend/packages/core-auth/tsconfig.json
Due: pull-core-frontend-test

Try reseting test script
  frontend/package.json
Due: pull-core-frontend-test

Set environment variables for frontend prow job
  .prow/pull-core-frontend-test.yaml
Due: none

Fix environment variable syntax
  .prow/pull-core-frontend-test.yaml
Due: none

Rename test
  frontend/apps/pwa/src/App.test.tsx
Due: pull-core-frontend-test

Update eslint config
  frontend/.eslintrc.js
Due: pull-core-frontend-test

Delete web/app/frontend/src/components/screens directory
  web/app/frontend/src/components/screens/RecordsScreen.tsx
Due: pull-core-web-frontend-test

Clean up api client tsconfig
  frontend/packages/core-api-client/package.json
  frontend/packages/core-api-client/tsconfig.build.json
  frontend/packages/core-api-client/tsconfig.cjs.json
  frontend/packages/core-api-client/tsconfig.esm.json
  frontend/packages/core-api-client/tsconfig.json
Due: pull-core-frontend-test

Move @types/node to root
  frontend/apps/pwa/package.json
  frontend/package.json
  frontend/packages/core-api-client/package.json
  frontend/yarn.lock
Due: pull-core-frontend-test

Removing testing command and packages from api client
  frontend/packages/core-api-client/package.json
Due: pull-core-frontend-test

Move testing and type packages to dev deps
  frontend/apps/admin/package.json
Due: pull-core-frontend-test

Add paths to packages in tsconfig
  frontend/apps/admin/tsconfig.json
  frontend/apps/native/tsconfig.json
  frontend/apps/pwa/tsconfig.json
  frontend/storybook/tsconfig.json
Due: pull-core-frontend-test

Revert paths in cra tsconfig as cra is strict
  frontend/apps/admin/tsconfig.json
  frontend/apps/pwa/tsconfig.json
Due: pull-core-frontend-test

Move local-oidc to yarn
  deployments/webapp.docker-compose.yaml
  tools/local-oidc-provider/package-lock.json
  tools/local-oidc-provider/yarn.lock
Due: none

Force a single react version
  frontend/package.json
  frontend/yarn.lock
Due: pull-core-frontend-test

Fix usage of hook
  frontend/apps/native/src/components/screen_containers/FormsScreenContainer.tsx
Due: pull-core-frontend-test

Fix uses of useApiClient hook
  frontend/apps/native/src/components/Router.tsx
  frontend/apps/native/src/components/screen_containers/AddRecordScreenContainer.tsx
  frontend/apps/native/src/components/screen_containers/RecordsScreenContainer.tsx
  frontend/apps/native/src/components/screen_containers/ViewRecordScreenContainer.tsx
Due: pull-core-frontend-test

fix editorconfig to match prettier
  .editorconfig
Due: none

COR-391 Deploy core onto backbone
  Makefile
  README.md
  build/package/authnz-frontend.Dockerfile
  build/package/authnz-frontend.Dockerfile.dockerignore
  build/package/core-frontend.Dockerfile
  build/package/core-frontend.Dockerfile.dockerignore
  build/package/core.Dockerfile
  build/package/core.Dockerfile.dockerignore
  cmd/dev.go
  cmd/devinit/main.go
  cmd/serve_admin.go
  cmd/serve_auth.go
  cmd/serve_login.go
  cmd/serve_public.go
  configs/authnz-frontend/nginx.conf.template
  configs/authnz-frontend/replace-env-vars.sh
  configs/config.yaml
  configs/core-frontend/nginx.conf.template
  configs/core-frontend/replace-env-vars.sh
  frontend/apps/admin/README.md
  frontend/apps/pwa/src/app/db.tsx
  go.mod
  go.sum
  pkg/server/login/store/interface_test.go
  pkg/store/database_test.go
  pkg/store/errors.go
  pkg/store/folder_test.go
  pkg/store/main_test.go
  scripts/build-images.sh
Due: pull-core-frontend-test, pull-core-go-test

fix build scripts.
  README.md
  configs/authnz-frontend/replace-env-vars.sh
  configs/core-frontend/replace-env-vars.sh
  frontend/apps/admin/README.md
  frontend/apps/pwa/README.md
  scripts/build-images.sh
Due: pull-core-frontend-test

add authnz server URI as env var to authnz-frontend env vars
  build/package/authnz-frontend.Dockerfile
  cmd/devinit/core.go
  cmd/devinit/core_admin_frontend.go
  configs/authnz-frontend/replace-env-vars.sh
  configs/core-frontend/replace-env-vars.sh
  frontend/apps/admin/src/App.tsx
Due: pull-core-frontend-test, pull-core-go-test

fix authn package & authnz-frontend token injection logic
  build/package/authnz-frontend.Dockerfile
  build/package/core-frontend.Dockerfile
  cmd/root.go
  cmd/serve_all.go
  cmd/serve_bouncer.go
  configs/authnz-frontend/replace-env-vars.sh
  configs/core-frontend/replace-env-vars.sh
  frontend/apps/admin/src/App.tsx
  frontend/apps/admin/src/client/client.ts
  frontend/apps/admin/src/hooks/hooks.tsx
  frontend/packages/core-auth/src/components/AuthWrapper.tsx
  frontend/packages/core-auth/src/types/types.ts
Due: pull-core-frontend-test, pull-core-go-test

fix authn package & authnz-frontend token injection logic
  .idea/runConfigurations/serve_all.xml
  build/package/core-frontend.Dockerfile
  cmd/serve.go
  cmd/serve_admin.go
  cmd/serve_all.go
  cmd/serve_bouncer.go
  cmd/serve_login.go
  cmd/serve_public.go
  configs/core-frontend/replace-env-vars.sh
  frontend/apps/pwa/src/App.tsx
  frontend/packages/core-auth/src/components/AuthWrapper.tsx
  frontend/packages/core-auth/src/utils/resolveDiscoveryAsync.ts
  pkg/logging/middleware.go
  pkg/server/admin/server.go
  pkg/server/auth/server.go
  pkg/server/login/handlers/login/action.go
  pkg/server/login/handlers/login/utils.go
  pkg/server/login/server.go
  pkg/server/public/server.go
  pkg/server/public/tests/main_test.go
Due: pull-core-frontend-test, pull-core-go-test

COR-406 Core server Dockerfile
  build/package/core.Dockerfile
  build/package/core.Dockerfile.dockerignore
Due: none

COR-412 Core admin Dockerfile
  build/package/authnz-frontend.Dockerfile
  build/package/authnz-frontend.Dockerfile.dockerignore
  configs/authnz-frontend/nginx.conf.template
  configs/authnz-frontend/replace-env-vars.sh
Due: none

COR-411 Core pwa Dockerfile
  build/package/core-frontend.Dockerfile
  build/package/core-frontend.Dockerfile.dockerignore
  configs/core-frontend/nginx.conf.template
  configs/core-frontend/replace-env-vars.sh
Due: none

COR-413 well-known endpoint logic fix
  frontend/packages/core-auth/src/utils/resolveDiscoveryAsync.ts
Due: pull-core-frontend-test

COR-407 launch servers separately
  .idea/runConfigurations/serve_all.xml
  cmd/root.go
  cmd/serve.go
  cmd/serve_admin.go
  cmd/serve_all.go
  cmd/serve_auth.go
  cmd/serve_bouncer.go
  cmd/serve_login.go
  cmd/serve_public.go
Due: pull-core-go-test

Update core.Dockerfile
  build/package/core.Dockerfile
Due: none

COR-414 fix authnz-bouncer path prefix
  pkg/server/auth/server.go
Due: pull-core-go-test

Update nginx.conf.template
  configs/authnz-frontend/nginx.conf.template
Due: none

Update nginx.conf.template
  configs/core-frontend/nginx.conf.template
Due: none
