Repository NorwegianRefugeeCouncil/core-uganda-pilot: changes, and which Prow jobs are due for each by the changed paths.
All: pull-core-web-frontend-test, pull-core-web-auth-test, pull-core-go-test

.prow/pull-core-web-app-frontend-test.yaml:

postsubmits:
  - name: pull-core-web-frontend-test
    run_if_changed: "^web/app/frontend|^web/designsystem|^web/auth|^web/client"
    decorate: true
    spec:
      containers:
        - image: node
          command: [ "bash", "-c" ]
          args:
            - >
              ./scripts/build-client.sh &&
              ./scripts/build-auth.sh &&
              ./scripts/build-design-system.sh &&
              ./scripts/build-frontend.sh &&
              cd web/app/frontend &&
              yarn test

.prow/pull-core-web-auth-test.yaml:

postsubmits:
  - name: pull-core-web-auth-test
    run_if_changed: "web/auth/*"
    decorate: true
    spec:
      containers:
        - image: node
          command: [ "bash", "-c" ]
          args: [ "cd web/auth && yarn install --frozen-lockfile && yarn test --all"]

.prow/push-core-go-test.yaml:

presubmits:
  - name: pull-core-go-test
    run_if_changed: ".go$|^go.mod$|^go.sum$"
    decorate: true
    spec:
      containers:
        - image: golang:1.16
          command: [ "bash", "-c" ]
          args:
            - |
              go mod download &&
              make gen &&
              (git diff --exit-code || echo ">>\n>> Changes detected. You have to re-run 'make gen'\n>>\n" && exit 1) &&
              go test ./pkg/...

fix prow job
  .prow/push-core-go-test.yaml
  go.sum
  pkg/store/context.go
Due: pull-core-go-test

fix prow job
  .prow/push-core-go-test.yaml
Due: none

lint and pr tweaks
  web/app/frontend/__tests__/screens/FormsScreen.test.tsx
  web/app/frontend/__tests__/screens/__snapshots__/FormsScreen.test.tsx.snap
  web/app/frontend/jest.setup.js
  web/app/frontend/package.json
  web/app/frontend/src/components/Router.tsx
  web/app/frontend/src/components/screen_containers/FormsScreenContainer.tsx
  web/app/frontend/src/components/screens/FormsScreen.tsx
  web/app/frontend/src/constants/testIds.js
  web/app/frontend/src/reducers/recordsReducers.ts
  web/app/frontend/src/types/screens.ts
  web/app/frontend/yarn.lock
Due: pull-core-web-frontend-test

setup tests
  web/app/frontend/yarn.lock
Due: pull-core-web-frontend-test

add FormsScreenContainer test
  web/app/frontend/__tests__/screen_containers/FormsScreenContainer.test.js
Due: pull-core-web-frontend-test

add FormsScreen test
  web/app/frontend/__tests__/screens/FormsScreen.test.js
  web/app/frontend/src/components/screen_containers/FormsScreenContainer.tsx
  web/app/frontend/src/components/screens/FormsScreen.tsx
  web/app/frontend/src/constants/testIds.js
  web/app/frontend/src/reducers/recordsReducers.ts
  web/app/frontend/src/types/screens.ts
Due: pull-core-web-frontend-test

lint
  web/app/frontend/__tests__/screen_containers/FormsScreenContainer.test.js
  web/app/frontend/src/components/screen_containers/FormsScreenContainer.tsx
Due: pull-core-web-frontend-test

remove old test
  web/app/frontend/__tests__/screens/FormsScreen.test.js
Due: pull-core-web-frontend-test

PR comments
  pkg/api/types/oauth2_client.go
  pkg/server/admin/handlers/clients/handler.go
  pkg/server/admin/handlers/clients/mappers.go
Due: pull-core-go-test

add initial tests and documentation for folder store
  pkg/api/types/folder.go
  pkg/api/types/scheme.go
  pkg/server/public/handlers/folder/create.go
  pkg/store/database_test.go
  pkg/store/errors.go
  pkg/store/folder.go
  pkg/store/folder_test.go
Due: pull-core-go-test

add tests for folder store
  pkg/api/meta/utils.go
  pkg/api/types/scheme.go
  pkg/store/database_test.go
  pkg/store/folder.go
  pkg/store/folder_test.go
  pkg/store/main_test.go
Due: pull-core-go-test

add tests for folder store
  .prow/push-core-go-test.yaml
Due: none

folder lookup on databaseId and parentId in parallel
  pkg/store/folder.go
Due: pull-core-go-test

fix clear db script
  pkg/store/clear.go
  scripts/clear-db.sh
Due: pull-core-go-test

add some tests for utility methods
  cmd/devinit/utils.go
  pkg/utils/authorization/bearertoken.go
  pkg/utils/authorization/bearertoken_test.go
  pkg/utils/files/utils.go
  pkg/utils/files/utils_test.go
  pkg/utils/pointers/pointers_test.go
  pkg/utils/sensitive/sensitive.go
  pkg/utils/sets/string.go
  pkg/utils/sets/string_test.go
  pkg/utils/slices/slice_test.go
Due: pull-core-go-test

add documentation
  pkg/store/constants.go
  pkg/store/database.go
  pkg/store/database_test.go
  pkg/store/errors.go
  pkg/store/factory.go
  pkg/store/identity_provider.go
  pkg/store/main_test.go
Due: pull-core-go-test

unused code
  cmd/devinit/utils.go
Due: pull-core-go-test

fix store.TestDatabaseSuite -> store.TestSuite
  pkg/store/main_test.go
Due: pull-core-go-test

consistently rename store.Suite receiver
  pkg/store/database_test.go
  pkg/store/main_test.go
Due: pull-core-go-test

don't clear node_modules for client build
  scripts/build-client.sh
Due: none

"bleh"
  web/app/frontend/yarn.lock
Due: pull-core-web-frontend-test

Add validation for records
  pkg/api/types/scheme.go
  pkg/api/types/validation/record.go
  pkg/api/types/validation/record_test.go
  pkg/server/public/handlers/record/create.go
Due: pull-core-go-test

add validation on the update handler as well
  pkg/server/public/handlers/record/create.go
  pkg/server/public/handlers/record/update.go
Due: pull-core-go-test

remove unnecessary validation
  pkg/api/types/validation/record.go
Due: pull-core-go-test

rename ErrorList.HasAny to IsEmpty
  pkg/server/public/handlers/database/create.go
  pkg/server/public/handlers/form/create.go
  pkg/validation/errors.go
Due: pull-core-go-test

rename ErrorList.HasAny to IsEmpty
  pkg/server/public/handlers/record/create.go
  pkg/server/public/handlers/record/update.go
Due: pull-core-go-test

add validation for reference fields
  pkg/api/types/validation/record.go
  pkg/api/types/validation/record_test.go
Due: pull-core-go-test

remove duplication on record validation
  pkg/api/types/validation/record.go
Due: pull-core-go-test

Add validation for folders
  pkg/api/types/validation/folder.go
  pkg/api/types/validation/folder_test.go
  pkg/server/public/handlers/folder/create.go
Due: pull-core-go-test

change ErrorList.HasAny -> !ErrorList.IsEmpty
  pkg/server/public/handlers/folder/create.go
Due: pull-core-go-test

Initialise lerna
  frontend/.gitignore
  frontend/lerna.json
  frontend/package.json
Due: none

Add skeleton projects for apps and packages
  frontend/apps/admin/package.json
  frontend/apps/native/package.json
  frontend/apps/pwa/package.json
  frontend/packages/core-api-client/package.json
  frontend/packages/core-auth/package.json
Due: none

Add design system package
  frontend/packages/design-system/package.json
Due: none

Add storybook
  frontend/lerna.json
  frontend/package.json
  frontend/storybook/package.json
Due: none

Remove author
  frontend/apps/admin/package.json
  frontend/apps/native/package.json
  frontend/apps/pwa/package.json
  frontend/packages/core-api-client/package.json
  frontend/packages/core-auth/package.json
Due: none

Change record.Values from map[string]interface{} to []FieldValue
  pkg/api/types/record.go
  pkg/api/types/validation/record.go
  pkg/api/types/validation/record_test.go
  pkg/server/public/handlers/record/create.go
  pkg/sqlmanager/build_helpers.go
  pkg/sqlmanager/build_subform_field.go
  pkg/sqlmanager/constants.go
  pkg/sqlmanager/formreader.go
  pkg/sqlmanager/formreader_test.go
  pkg/sqlmanager/formwriter.go
  pkg/sqlmanager/formwriter_test.go
  pkg/store/record.go
  pkg/testutils/options.go
  pkg/utils/pointers/pointers.go
Due: pull-core-go-test

Make changes on pwa to send list of record values instead of a map
  web/app/client/src/lib/types/index.ts
  web/app/frontend/yarn.lock
  web/pwa/src/components/RecordPicker.tsx
  web/pwa/src/features/browser/FormBrowser.tsx
  web/pwa/src/features/browser/RecordBrowser.tsx
  web/pwa/src/features/former/former.slice.ts
  web/pwa/src/features/recorder/FieldEditor.tsx
  web/pwa/src/features/recorder/RecordEditor.tsx
  web/pwa/src/features/recorder/recorder.slice.ts
Due: pull-core-web-frontend-test

fix typescript errors
  web/app/client/src/lib/types/index.ts
  web/pwa/src/components/RecordPicker.tsx
  web/pwa/src/features/browser/FolderBrowser.tsx
  web/pwa/src/features/browser/FormBrowser.tsx
  web/pwa/src/features/former/former.slice.ts
Due: none
