Repository NorwegianRefugeeCouncil/core-uganda-pilot: changes, and which Prow jobs are due for each by the changed paths.
All: pull-core-web-frontend-test, pull-core-web-auth-test, pull-core-go-test

pull-core-web-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node
      command:
      - bash
      - -c
      args:
      - './scripts/build-client.sh && ./scripts/build-auth.sh && ./scripts/build-design-system.sh && ./scripts/build-frontend.sh && cd web/app/frontend && yarn test
  
        '

pull-core-web-auth-test:
  decorate: true
  spec:
    containers:
    - image: node
      command:
      - bash
      - -c
      args:
      - cd web/auth && yarn install --frozen-lockfile && yarn test --all

pull-core-go-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.16
      command:
      - bash
      - -c
      args:
  ...

remove unused code
  pkg/sql/schema/sql_table_constraint.go
  pkg/sqlmanager/formreader.go
  pkg/validation/errors.go
  pkg/validation/validation.go
Due: pull-core-go-test

remove GetOwner from FormInterface rename HasOwner to IsSubForm
  pkg/api/types/form.go
  pkg/api/types/form_interface.go
  pkg/api/types/validation/record.go
  pkg/sqlmanager/build_form.go
  pkg/sqlmanager/build_subform_field.go
  pkg/sqlmanager/formreader_test.go
  pkg/sqlmanager/formwriter.go
  pkg/testutils/options.go
Due: pull-core-go-test

remove GetOwner from FormInterface rename HasOwner to IsSubForm
  pkg/api/types/form.go
  pkg/api/types/form_interface.go
  pkg/api/types/validation/record_test.go
  pkg/sqlmanager/formreader_test.go
  pkg/sqlmanager/formwriter_test.go
  pkg/testutils/options.go
Due: pull-core-go-test

cleanup FormInterface
  pkg/api/types/form.go
  pkg/api/types/form_interface.go
  pkg/api/types/form_interface_test.go
  pkg/api/types/record.go
  pkg/api/types/validation/record.go
  pkg/api/types/validation/record_test.go
  pkg/sqlmanager/build_form.go
  pkg/sqlmanager/build_subform_field.go
  pkg/sqlmanager/formreader_test.go
  pkg/sqlmanager/formwriter.go
  pkg/sqlmanager/formwriter_test.go
  pkg/testutils/options.go
Due: pull-core-go-test

add tests
  frontend/apps/native/__tests__/screens/ViewRecordScreen.test.tsx
  frontend/apps/native/__tests__/screens/__snapshots__/ViewRecordScreen.test.tsx.snap
  frontend/apps/native/src/components/screens/ViewRecordScreen.tsx
Due: none

rename import
  pkg/sql/convert/create.go
Due: pull-core-go-test

add comments
  pkg/store/form.go
Due: pull-core-go-test

add api tests to core
  go.mod
  go.sum
  pkg/api/types/form.go
  pkg/api/types/validation/record_test.go
  pkg/mocks/dbfactory.go
  pkg/server/generic/server.go
  pkg/server/login/store/interface_test.go
  pkg/server/public/handlers/database/create.go
  pkg/server/public/tests/database_test.go
  pkg/server/public/tests/doc.go
  pkg/server/public/tests/folder_test.go
  pkg/server/public/tests/form_test.go
  pkg/server/public/tests/helpers_test.go
  pkg/server/public/tests/main_test.go
  pkg/server/public/tests/record_test.go
  pkg/sqlmanager/formwriter_test.go
  pkg/sqlmanager/schema_test.go
  pkg/store/factory.go
  pkg/testutils/options.go
  pkg/testutils/postgres.go
  test/database_test.go
  test/folders_test.go
  test/forms_test.go
  test/main_test.go
  test/records_test.go
Due: pull-core-go-test

add `test` run configuration for jetBrains
  .idea/runConfigurations/test.xml
Due: none

add tests for record handler
  pkg/api/types/field.go
  pkg/api/types/record.go
  pkg/client/client.go
  pkg/server/public/handlers/folder/get.go
  pkg/server/public/handlers/folder/handler.go
  pkg/server/public/handlers/form/handler.go
  pkg/server/public/handlers/record/handler.go
  pkg/server/public/tests/database_test.go
  pkg/server/public/tests/folder_test.go
  pkg/server/public/tests/form_test.go
  pkg/server/public/tests/record_test.go
  pkg/store/database.go
Due: pull-core-go-test

fix bugs
  pkg/store/form.go
Due: pull-core-go-test

add tests
  frontend/apps/native/__tests__/screen_containers/ViewRecordScreenContainer.test.tsx
  frontend/apps/native/__tests__/screen_containers/__snapshots__/ViewRecordScreenContainer.test.tsx.snap
Due: none

separate screen and container
  frontend/apps/native/__tests__/screen_containers/ViewRecordScreenContainer.test.tsx
  frontend/apps/native/src/components/Router.tsx
Due: none

COR-396 Fix Single Select Field
  pkg/api/types/field.go
  pkg/api/types/field_type.go
  pkg/api/types/validation/form.go
  pkg/api/types/validation/form_test.go
  pkg/api/types/validation/record.go
  pkg/api/types/validation/record_test.go
  pkg/server/public/handlers/form/create.go
  pkg/server/public/tests/database_test.go
  pkg/server/public/tests/form_test.go
  pkg/server/public/tests/record_test.go
  pkg/sqlmanager/actions.go
  pkg/sqlmanager/build_field.go
  pkg/sqlmanager/build_single_select_field.go
  pkg/sqlmanager/constants.go
  pkg/sqlmanager/handle_insert_record.go
  pkg/sqlmanager/schema.go
  pkg/sqlmanager/schema_test.go
  pkg/store/form.go
  pkg/store/form_test.go
  pkg/testutils/options.go
  pkg/validation/errors.go
Due: pull-core-go-test

COR-396 Fix failing test
  pkg/sqlmanager/schema_test.go
Due: pull-core-go-test

COR-396 Fix prow job for frontend
  .prow/pull-core-frontend-test.yaml
Due: none

COR-396 Fix prow job for frontend
  frontend/apps/admin/README.md
Due: none

COR-396 Rename prow job for backend
  .prow/push-core-backend-test.yaml
  frontend/apps/admin/README.md
Due: none

COR-396 PR Comments
  frontend/apps/pwa/src/features/former/former.slice.ts
  pkg/sqlmanager/build_helpers.go
  pkg/sqlmanager/build_reference_field.go
  pkg/sqlmanager/build_single_select_field.go
  pkg/sqlmanager/build_subform_field.go
  pkg/sqlmanager/constants.go
Due: pull-core-go-test

Configure linting for frontend
  frontend/.eslintignore
  frontend/.eslintrc.js
  frontend/.prettierrc.js
  frontend/apps/admin/package.json
  frontend/apps/native/.eslintrc.js
  frontend/apps/native/.prettierrc
  frontend/apps/native/package.json
  frontend/apps/pwa/package.json
  frontend/package.json
  frontend/packages/core-auth/package.json
  frontend/packages/design-system/package.json
  frontend/yarn.lock
Due: none

Add precommit hook for linting
  frontend/package.json
  frontend/yarn.lock
Due: none

fix app.tsx test
  frontend/apps/pwa/src/App.test.tsx
Due: none

fix recorder tests
  frontend/apps/pwa/src/features/recorder/recorder.slice.spec.ts
  frontend/apps/pwa/src/reducers/form.ts
Due: none

fix prow job
  .prow/pull-core-pwa-test.yaml
Due: none

add prow job for pwa tests and fix those tests
  .prow/pull-core-pwa-test.yaml
  frontend/apps/pwa/src/reducers/__tests__/form.spec.ts
Due: none

delete unnecessary prow job
  .prow/pull-core-pwa-test.yaml
Due: none

Pin eslint version
  frontend/package.json
  frontend/yarn.lock
Due: none

Fix scope names
  frontend/package.json
Due: none

Disable react-scripts eslint plugin
  frontend/apps/admin/package.json
  frontend/apps/pwa/package.json
Due: none

add pwa to stable tests
  frontend/package.json
Due: none

separate screen and container
  frontend/apps/native/src/components/screen_containers/RecordsScreenContainer.tsx
  frontend/apps/native/src/components/screens/RecordsScreen.tsx
  frontend/apps/native/src/constants/routes.ts
  frontend/apps/native/yarn.lock
  web/app/client/package.json
  web/app/client/src/index.ts
Due: none

Configure storybook to work with yarn workspaces
  frontend/storybook/.gitignore
  frontend/storybook/metro.config.js
  frontend/storybook/package.json
  frontend/storybook/webpack.config.js
Due: none

Fix import path
  frontend/storybook/storybook/stories/Icon/Icon.stories.js
Due: none

add tests
  frontend/apps/native/__tests__/screens/RecordsScreen.test.tsx
  frontend/apps/native/__tests__/screens/__snapshots__/RecordsScreen.test.tsx.snap
  frontend/apps/native/src/components/screen_containers/RecordsScreenContainer.tsx
  frontend/apps/native/src/components/screens/RecordsScreen.tsx
  frontend/apps/native/src/constants/testIds.js
  frontend/apps/native/yarn.lock
  frontend/apps/pwa/yarn.lock
  frontend/packages/core-auth/yarn.lock
  frontend/storybook/yarn.lock
  frontend/yarn.lock
  web/app/client/package.json
  web/app/client/src/index.ts
Due: none

separate screen and container
  frontend/apps/native/__tests__/screen_containers/RecordsScreenContainer.test.tsx
  frontend/apps/native/__tests__/screen_containers/__snapshots__/RecordsScreenContainer.test.tsx.snap
  web/app/frontend/src/components/screens/RecordsScreen.tsx
Due: pull-core-web-frontend-test

Don't use lerna to start native apps as it doesn't open the url
  scripts/serve-native.sh
  scripts/serve-storybook.sh
Due: none

Path conditions:
  pull-core-web-frontend-test: any of: ^web/app/frontend|^web/designsystem|^web/auth|^web/client
  pull-core-web-auth-test: any of: web/auth/*
  pull-core-go-test: any of: .go$|^go.mod$|^go.sum$
