Repository NorwegianRefugeeCouncil/core-uganda-pilot: changes, and which Prow jobs are due for each by the changed paths.
All: pull-core-frontend-test, pull-core-pwa-test, pull-core-web-frontend-test, pull-core-web-auth-test, pull-core-go-test

pull-core-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node
      command:
      - bash
      - -c
      args:
      - './scripts/prepare-frontend.sh && cd frontend && yarn test:stable
  
        '
      env:
      - name: REACT_APP_OIDC_ISSUER
        value: https://fake.oidc.issuer.nrc.no
      - name: REACT_APP_OAUTH_SCOPE
  ...

pull-core-pwa-test:
  decorate: true
  spec:
    containers:
    - image: node
      command:
      - bash
      - -c
      args:
      - './scripts/build-client.sh && ./scripts/build-auth.sh && ./scripts/build-pwa.sh && cd web/pwa && yarn test
  
        '

pull-core-web-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node
      command:
      - bash
      - -c
      args:
      - './scripts/build-client.sh && ./scripts/build-auth.sh && ./scripts/build-design-system.sh && ./scripts/build-frontend.sh && cd web/app/frontend && yarn test
  
        '

pull-core-web-auth-test:
  decorate: true
  spec:
    containers:
    - image: node
      command:
      - bash
      - -c
      args:
      - cd web/auth && yarn install --frozen-lockfile && yarn test --all

pull-core-go-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.16
      command:
      - bash
      - -c
      args:
  ...

Add test suite for entity model
  pkg/server/core-db/tests/models/entity/model_test.go
Due: pull-core-go-test

Add InsertEntityDefinition test
  pkg/server/core-db/tests/models/entity/insertEntityDefinition_test.go
Due: pull-core-go-test

Init entity model in suite
  pkg/server/core-db/tests/models/entity/insertEntityDefinition_test.go
  pkg/server/core-db/tests/models/entity/model_test.go
Due: pull-core-go-test

COR-484: WIP
  cmd/devinit/main.go
  frontend/apps/core-authnz-frontend/src/components/organizations/identityproviders/IdentityProviderEditor.tsx
  frontend/apps/core-authnz-frontend/src/components/organizations/identityproviders/IdentityProviders.tsx
  frontend/apps/core-authnz-frontend/src/types/types.ts
  pkg/api/types/identity_provider.go
  pkg/store/identity_provider.go
Due: pull-core-frontend-test, pull-core-go-test

refactor
  pkg/server/data/api/interface.go
  pkg/server/data/engine/engine.go
  pkg/server/data/engine/reconciler.go
  pkg/server/data/handler/get_changes.go
Due: pull-core-go-test

refactor
  pkg/server/data/api/interface.go
Due: pull-core-go-test

frontend demo
  .gitignore
  cmd/devinit/core_data.go
  cmd/devinit/main.go
  cmd/serve_db.go
  configs/config.yaml
  frontend/apps/db-explorer/.gitignore
  frontend/apps/db-explorer/README.md
  frontend/apps/db-explorer/package.json
  frontend/apps/db-explorer/public/favicon.ico
  frontend/apps/db-explorer/public/index.html
  frontend/apps/db-explorer/public/logo192.png
  frontend/apps/db-explorer/public/logo512.png
  frontend/apps/db-explorer/public/manifest.json
  frontend/apps/db-explorer/public/robots.txt
  frontend/apps/db-explorer/src/App.css
  frontend/apps/db-explorer/src/App.tsx
  frontend/apps/db-explorer/src/CreateTable.tsx
  frontend/apps/db-explorer/src/Explorer.tsx
  frontend/apps/db-explorer/src/RecordsTable.tsx
  frontend/apps/db-explorer/src/client.ts
  frontend/apps/db-explorer/src/index.css
  frontend/apps/db-explorer/src/index.tsx
  frontend/apps/db-explorer/src/logo.svg
  frontend/apps/db-explorer/src/react-app-env.d.ts
  frontend/apps/db-explorer/src/setupTests.ts
  frontend/apps/db-explorer/tsconfig.json
  frontend/apps/db-explorer/yarn.lock
  pkg/server/data/api/interface.go
  pkg/server/data/api/record.go
  pkg/server/data/client/client_http.go
  pkg/server/data/engine/engine.go
  pkg/server/data/engine/reconciler_test.go
  pkg/server/data/engine/utils.go
  pkg/server/data/handler/get_record.go
  pkg/server/data/handler/get_records.go
  pkg/server/data/handler/get_table.go
  pkg/server/data/handler/get_tables.go
  pkg/server/data/handler/handler.go
  pkg/server/data/handler/put_record.go
  pkg/server/data/server.go
Due: pull-core-frontend-test, pull-core-go-test

fix test
  pkg/server/data/client/client_http.go
Due: pull-core-go-test

fix test
  frontend/apps/db-explorer/src/CreateTable.tsx
  frontend/apps/db-explorer/src/Explorer.tsx
  pkg/server/data/server.go
Due: pull-core-frontend-test, pull-core-go-test

fix code smells
  frontend/apps/db-explorer/src/App.tsx
  frontend/apps/db-explorer/src/CreateTable.tsx
  frontend/apps/db-explorer/src/Explorer.tsx
  frontend/apps/db-explorer/src/RecordsTableContainer.tsx
  frontend/apps/db-explorer/src/client.ts
  pkg/server/data/api/record_test.go
  pkg/server/data/api/revision_test.go
  pkg/server/data/api/utils_test.go
  pkg/server/data/api/values.go
  pkg/server/data/client/client_http.go
  pkg/server/data/engine/engine_test.go
Due: pull-core-frontend-test, pull-core-go-test

fix code smells
  pkg/server/data/api/values.go
  pkg/server/data/client/client.go
  pkg/server/data/client/client_http.go
  pkg/server/data/engine/engine.go
  pkg/server/data/engine/reconciler.go
  pkg/server/data/utils/db_result_reader.go
Due: pull-core-go-test

fix code smells
  pkg/server/data/handler/get_changes.go
  pkg/server/data/handler/get_record.go
  pkg/server/data/handler/get_records.go
  pkg/server/data/handler/get_table.go
  pkg/server/data/handler/handler.go
Due: pull-core-go-test

COR-484: init scopes for bootstrap client
  cmd/devinit/main.go
Due: pull-core-go-test

move methods
  pkg/server/data/engine/engine.go
Due: pull-core-go-test

COR-484: fix bootstrap client scopes
  cmd/devinit/main.go
Due: pull-core-go-test

COR-474: use sso scopes
  pkg/server/login/handlers/login/utils.go
Due: pull-core-go-test

COR-484: pr comments
  cmd/devinit/main.go
  frontend/apps/core-authnz-frontend/src/components/organizations/identityproviders/IdentityProviderEditor.tsx
  frontend/apps/core-authnz-frontend/src/types/types.ts
  pkg/api/types/identity_provider.go
  pkg/store/identity_provider.go
Due: pull-core-frontend-test, pull-core-go-test

apply design to login flow, show loading spinner on login button before enabled
  frontend/apps/core-app/src/components/AuthWrapper/AuthWrapper.tsx
  frontend/apps/core-app/src/components/AuthWrapper/useTokenResponse.ts
  frontend/apps/core-app/src/screens/LoginScreen/LoginScreen.component.tsx
  frontend/apps/core-app/src/screens/LoginScreen/LoginScreen.styles.ts
  frontend/packages/core-auth/src/utils/helpers.ts
  frontend/packages/design-system/src/assets/iconMap.ts
  frontend/packages/design-system/src/assets/icons/NRC.tsx
  frontend/packages/design-system/src/assets/icons/index.ts
  frontend/packages/design-system/src/components/Logo/Logo.tsx
  frontend/packages/design-system/src/components/index.ts
  frontend/packages/design-system/src/themes/Logo.ts
  frontend/packages/design-system/src/themes/index.ts
  pkg/server/login/templates/templates.go
Due: pull-core-frontend-test, pull-core-go-test

fixes
  Makefile
  deployments/envoy.yaml
  deployments/webapp.docker-compose.yaml
  pkg/api/types/identity_provider.go
  pkg/store/identity_provider.go
Due: pull-core-go-test

log out on click and fix tests
  frontend/apps/core-app/src/components/AuthWrapper/__tests__/AuthWrapper.test.tsx
  frontend/apps/core-app/src/components/AuthWrapper/__tests__/useTokenResponse.test.ts
  frontend/apps/core-app/src/components/AuthWrapper/useTokenResponse.ts
  frontend/apps/core-app/src/components/NavHeader/logout.ts
  frontend/apps/core-app/src/screens/LoginScreen/LoginScreen.component.tsx
  frontend/apps/core-app/src/screens/LoginScreen/__tests__/LoginScreen.component.test.tsx
  frontend/apps/core-app/src/screens/LoginScreen/__tests__/__snapshots__/LoginScreen.component.test.tsx.snap
Due: pull-core-frontend-test

COR-475: map claims to specific keys
  cmd/devinit/main.go
  frontend/apps/core-authnz-frontend/src/components/AuthenticatedApp.tsx
  frontend/apps/core-authnz-frontend/src/components/organizations/identityproviders/IdentityProviderEditor.tsx
  frontend/apps/core-authnz-frontend/src/types/types.ts
  pkg/api/types/identity_provider.go
  pkg/server/login/handlers/login/action_performing_auth_code_exchange.go
  pkg/server/login/store/identity_profile.go
  pkg/store/identity_provider.go
Due: pull-core-frontend-test, pull-core-go-test

COR-475: skip unnecessary parsing
  frontend/apps/core-authnz-frontend/src/components/organizations/identityproviders/IdentityProviderEditor.tsx
Due: pull-core-frontend-test

COR-475: store claims in profile table
  pkg/server/login/handlers/login/action_auth_code_exchange_succeeded.go
  pkg/server/login/store/identity_profile.go
  pkg/server/login/store/interface.go
  pkg/server/login/store/migrate.go
  pkg/store/migrate.go
Due: pull-core-go-test

COR-475: flatten claim mapping structure
  cmd/devinit/main.go
  frontend/apps/core-authnz-frontend/src/components/organizations/identityproviders/IdentityProviderEditor.tsx
  frontend/apps/core-authnz-frontend/src/types/types.ts
  pkg/api/types/identity_provider.go
  pkg/server/login/handlers/login/action_performing_auth_code_exchange.go
  pkg/store/identity_provider.go
Due: pull-core-frontend-test, pull-core-go-test

COR-475: renaming
  pkg/server/login/handlers/login/action_performing_auth_code_exchange.go
Due: pull-core-go-test

COR-475: PR comments
  pkg/server/login/handlers/login/action_auth_code_exchange_succeeded.go
  pkg/server/login/handlers/login/action_performing_auth_code_exchange.go
  pkg/server/login/store/interface.go
Due: pull-core-go-test

COR-475: tests
  pkg/server/login/handlers/login/action_performing_auth_code_exchange.go
  pkg/server/login/handlers/login/action_performing_auth_code_exchange_test.go
  pkg/server/login/store/interface_test.go
Due: pull-core-go-test

COR-475: use go templates
  cmd/devinit/main.go
  frontend/apps/core-authnz-frontend/src/components/organizations/identityproviders/IdentityProviderEditor.tsx
  pkg/server/login/handlers/login/action_performing_auth_code_exchange.go
  pkg/server/login/handlers/login/action_performing_auth_code_exchange_test.go
Due: pull-core-frontend-test, pull-core-go-test

COR-475: fix tests
  pkg/server/login/handlers/login/action_performing_auth_code_exchange_test.go
Due: pull-core-go-test

COR-476: fix store connection, move strings to constants
  frontend/apps/core-app/App.tsx
  frontend/apps/core-app/src/clients/adminClient.ts
  frontend/apps/core-app/src/clients/client.ts
  frontend/apps/core-app/src/clients/index.ts
  frontend/apps/core-app/src/components/Recipient/RecipientEditor/__tests__/RecipientEditor.components.test.tsx
  frontend/apps/core-app/src/components/Recipient/RecipientViewer/__tests__/RecipientViewer.component.test.tsx
  frontend/apps/core-app/src/components/RecordEditor/FieldInput/ReferenceFieldInput.component.tsx
  frontend/apps/core-app/src/components/RecordEditor/FieldInput/SubFormFieldInput.component.tsx
  frontend/apps/core-app/src/components/RecordEditor/FieldInput/__tests__/ReferenceFieldInput.component.test.tsx
  frontend/apps/core-app/src/screens/RecipientProfileScreen/RecipientProfileScreen.container.tsx
  frontend/apps/core-app/src/screens/RecipientRegistrationScreen/RecipientRegistrationScreen.container.tsx
  frontend/apps/core-app/src/screens/RecipientRegistrationScreen/__tests__/RecipientRegistrationScreen.component.test.tsx
  frontend/apps/core-app/src/screens/RecipientRegistrationScreen/__tests__/RecipientRegistrationScreen.container.test.tsx
  frontend/packages/core-api-client/src/client/AdminClient.ts
  frontend/packages/core-api-client/src/client/index.ts
  frontend/packages/core-api-client/src/index.ts
  pkg/api/types/identity_profile.go
  pkg/server/authnzapi/handlers/identity/get.go
  pkg/server/authnzapi/handlers/identity/handler.go
  pkg/server/authnzapi/server.go
  pkg/store/constants.go
  pkg/store/database.go
  pkg/store/form.go
  pkg/store/identity.go
  pkg/store/identity_profile.go
  pkg/store/organization.go
Due: pull-core-frontend-test, pull-core-go-test

COR-476: add user/id endpoint
  frontend/packages/core-api-client/src/client/AdminClient.ts
  frontend/packages/core-api-client/src/client/Identity.ts
  frontend/packages/core-api-client/src/types/client/AdminClient.ts
  frontend/packages/core-api-client/src/types/client/Form.ts
  frontend/packages/core-api-client/src/types/client/Identity.ts
  pkg/api/types/identity.go
  pkg/constants/constants.go
  pkg/server/authnzapi/handlers/identity/get.go
  pkg/server/authnzapi/handlers/identity/handler.go
  pkg/server/authnzapi/server.go
  pkg/store/identity.go
Due: pull-core-frontend-test, pull-core-go-test

COR-476: move endpoint to login server
  frontend/packages/core-api-client/src/client/AdminClient.ts
  frontend/packages/core-api-client/src/client/Client.ts
  frontend/packages/core-api-client/src/client/Identity.ts
  frontend/packages/core-api-client/src/client/index.ts
  frontend/packages/core-api-client/src/types/client/AdminClient.ts
  frontend/packages/core-api-client/src/types/client/Client.ts
  frontend/packages/core-api-client/src/types/client/index.ts
  pkg/server/authnzapi/server.go
  pkg/server/login/handlers/identity/get.go
  pkg/server/login/handlers/identity/handler.go
Due: pull-core-frontend-test, pull-core-go-test

create zanzibar client, create relationship when creating a database
  go.mod
  go.sum
  pkg/client/client.go
  pkg/client/zanzibar_client.go
  pkg/server/formsapi/handlers/database/create.go
  pkg/zanzibar.go
Due: pull-core-go-test

add BE client
  cmd/devinit/main.go
  cmd/devinit/zanzibar.go
  go.mod
  go.sum
Due: pull-core-go-test

WIP
  cmd/devinit/main.go
  cmd/devinit/postgres.go
  cmd/devinit/zanzibar.go
  frontend/packages/core-auth/src/components/AuthZWrapper.tsx
  pkg/seeder/seed.go
  pkg/server/formsapi/handlers/database/create.go
  pkg/zanzibar/zanzibar_client.go
Due: pull-core-frontend-test, pull-core-go-test

WIP 2
  cmd/devinit/core.go
  cmd/serve_all.go
  cmd/serve_forms_api.go
  pkg/seeder/seed.go
  pkg/server/formsapi/handlers/database/create.go
  pkg/server/formsapi/handlers/database/handler.go
  pkg/server/formsapi/server.go
  pkg/server/options/options.go
Due: pull-core-go-test

WIP 3
  cmd/devinit/core.go
  cmd/devinit/main.go
  cmd/devinit/utils.go
  cmd/devinit/zanzibar.go
  cmd/serve.go
  cmd/serve_all.go
  cmd/serve_forms_api.go
  pkg/server/options/options.go
Due: pull-core-go-test

add missing config + update install readme
  deployments/envoy-local.yaml
  docs/getting_started.md
Due: none

Path conditions:
  pull-core-frontend-test: any of: frontend/.*
  pull-core-pwa-test: any of: ^web/pwa
  pull-core-web-frontend-test: any of: ^web/app/frontend|^web/designsystem|^web/auth|^web/client
  pull-core-web-auth-test: any of: web/auth/*
  pull-core-go-test: any of: .go$|^go.mod$|^go.sum$
