Repository NorwegianRefugeeCouncil/core-uganda-pilot: changes, and which Prow jobs are due for each by the changed paths.
All: pull-core-frontend-test, pull-core-pwa-test, pull-core-web-frontend-test, pull-core-web-auth-test, pull-core-go-test

pull-core-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node
      command:
      - bash
      - -c
      args:
      - './scripts/prepare-frontend.sh && cd frontend && yarn test:stable
  
        '
      env:
      - name: REACT_APP_OIDC_ISSUER
        value: https://fake.oidc.issuer.nrc.no
      - name: REACT_APP_OAUTH_SCOPE
  ...

pull-core-pwa-test:
  decorate: true
  spec:
    containers:
    - image: node
      command:
      - bash
      - -c
      args:
      - './scripts/build-client.sh && ./scripts/build-auth.sh && ./scripts/build-pwa.sh && cd web/pwa && yarn test
  
        '

pull-core-web-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node
      command:
      - bash
      - -c
      args:
      - './scripts/build-client.sh && ./scripts/build-auth.sh && ./scripts/build-design-system.sh && ./scripts/build-frontend.sh && cd web/app/frontend && yarn test
  
        '

pull-core-web-auth-test:
  decorate: true
  spec:
    containers:
    - image: node
      command:
      - bash
      - -c
      args:
      - cd web/auth && yarn install --frozen-lockfile && yarn test --all

pull-core-go-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.16
      command:
      - bash
      - -c
      args:
  ...

Run go mod tidy
  go.mod
  go.sum
Due: pull-core-go-test

core-db config
  cmd/devinit/core_db_api.go
  cmd/devinit/main.go
  cmd/serve_all.go
  cmd/serve_core_db_api.go
  configs/config.yaml
  deployments/envoy-local.yaml
  deployments/envoy.yaml
Due: pull-core-go-test

Create EntityController.Create
  pkg/server/core-db/controllers/entity/create.go
Due: pull-core-go-test

Add stubs for store layer
  pkg/server/core-db/stores/entity/createEntityRecordTable.go
  pkg/server/core-db/stores/entity/deleteEntityDefinition.go
  pkg/server/core-db/stores/entity/dropEntityRecordTable.go
  pkg/server/core-db/stores/entity/getEntity.go
  pkg/server/core-db/stores/entity/insertAttribute.go
  pkg/server/core-db/stores/entity/insertEntityDefinition.go
  pkg/server/core-db/stores/entity/insertRelationship.go
  pkg/server/core-db/stores/entity/listEntityDefinitions.go
  pkg/server/core-db/stores/entity/store.go
  pkg/server/core-db/stores/entity/updateAttribute.go
  pkg/server/core-db/stores/entity/updateEntityDefinition.go
  pkg/server/core-db/stores/entity/updateRelationship.go
Due: pull-core-go-test

Add helper methods for validation
  pkg/common/validation.go
Due: pull-core-go-test

Implement InsertRelationship
  pkg/server/core-db/stores/entity/insertRelationship.go
Due: pull-core-go-test

Add function to perform validation on generic structs
  pkg/validation/validate.go
Due: pull-core-go-test

Add stubs for controller layer
  pkg/server/core-db/controllers/entity/controller.go
  pkg/server/core-db/controllers/entity/create.go
  pkg/server/core-db/controllers/entity/delete.go
  pkg/server/core-db/controllers/entity/get.go
  pkg/server/core-db/controllers/entity/list.go
  pkg/server/core-db/controllers/entity/update.go
Due: pull-core-go-test

Add stubs for service layer
  pkg/server/core-db/services/entity/create.go
  pkg/server/core-db/services/entity/delete.go
  pkg/server/core-db/services/entity/get.go
  pkg/server/core-db/services/entity/list.go
  pkg/server/core-db/services/entity/service.go
  pkg/server/core-db/services/entity/update.go
Due: pull-core-go-test

Implement InsertAttribute
  pkg/server/core-db/stores/entity/insertAttribute.go
Due: pull-core-go-test

Create EntityService.Create
  pkg/server/core-db/services/entity/create.go
Due: pull-core-go-test

Add type for paginated data
  pkg/api/types/pagination.go
Due: pull-core-go-test

Add migrations for entity tables
  pkg/server/core-db/migrations/1_entity.down.sql
  pkg/server/core-db/migrations/1_entity.up.sql
Due: none

Add SQLBuilder
  pkg/sqlmanager/sqlbuilder.go
Due: pull-core-go-test

Implement InsertEntityDefinition
  pkg/server/core-db/stores/entity/insertEntityDefinition.go
Due: pull-core-go-test

Add entity types
  pkg/server/core-db/types/Attribute.go
  pkg/server/core-db/types/AttributeContstraints.go
  pkg/server/core-db/types/Entity.go
  pkg/server/core-db/types/EntityConstraints.go
  pkg/server/core-db/types/EntityDefinition.go
  pkg/server/core-db/types/GroupResource.go
  pkg/server/core-db/types/Relationship.go
Due: pull-core-go-test

Add TransactionStore
  pkg/common/transaction.go
Due: pull-core-go-test

Add core db server
  pkg/server/core-db/server.go
  pkg/server/options/options.go
Due: pull-core-go-test

Core DB configuration fixes
  cmd/devinit/core_db_api.go
  cmd/serve_all.go
  cmd/serve_core_db_api.go
  pkg/server/options/options.go
Due: pull-core-go-test

Fix sql syntax
  pkg/server/core-db/migrations/1_entity.up.sql
Due: none

Add migrate command for core db
  cmd/migrate.go
  go.mod
  go.sum
  pkg/server/core-db/stores/migrate.go
Due: pull-core-go-test

Use pointers to allow for null values
  pkg/server/core-db/types/AttributeContstraints.go
Due: pull-core-go-test

Set schema
  pkg/server/core-db/stores/entity/insertAttribute.go
  pkg/server/core-db/stores/entity/insertEntityDefinition.go
  pkg/server/core-db/stores/entity/insertRelationship.go
Due: pull-core-go-test

Set created entity id
  pkg/server/core-db/services/entity/create.go
Due: pull-core-go-test

Add attribute id to relationship
  pkg/server/core-db/migrations/1_entity.up.sql
  pkg/server/core-db/types/Relationship.go
Due: pull-core-go-test

Fix
  pkg/server/core-db/controllers/entity/create.go
Due: pull-core-go-test

Add client to test things
  frontend/apps/core-app/src/clients/coreDBClient.ts
Due: pull-core-frontend-test

Refactor logic into functions
  pkg/server/core-db/services/entity/create.go
Due: pull-core-go-test

Get db is tx is nil
  pkg/server/core-db/stores/entity/insertAttribute.go
  pkg/server/core-db/stores/entity/insertEntityDefinition.go
  pkg/server/core-db/stores/entity/insertRelationship.go
Due: pull-core-go-test

Rollback on error
  pkg/server/core-db/services/entity/create.go
Due: pull-core-go-test

Validate response
  pkg/server/core-db/controllers/entity/create.go
Due: pull-core-go-test

Docs
  docs/backend_standards.md
Due: none

Rename store to model
  cmd/migrate.go
  pkg/common/transaction.go
  pkg/server/core-db/controllers/entity/controller.go
  pkg/server/core-db/models/entity/createEntityRecordTable.go
  pkg/server/core-db/models/entity/deleteEntityDefinition.go
  pkg/server/core-db/models/entity/dropEntityRecordTable.go
  pkg/server/core-db/models/entity/getEntity.go
  pkg/server/core-db/models/entity/insertAttribute.go
  pkg/server/core-db/models/entity/insertEntityDefinition.go
  pkg/server/core-db/models/entity/insertRelationship.go
  pkg/server/core-db/models/entity/listEntityDefinitions.go
  pkg/server/core-db/models/entity/model.go
  pkg/server/core-db/models/entity/updateAttribute.go
  pkg/server/core-db/models/entity/updateEntityDefinition.go
  pkg/server/core-db/models/entity/updateRelationship.go
  pkg/server/core-db/models/migrate.go
  pkg/server/core-db/server.go
  pkg/server/core-db/services/entity/create.go
  pkg/server/core-db/services/entity/service.go
  pkg/server/core-db/stores/entity/deleteEntityDefinition.go
  pkg/server/core-db/stores/entity/dropEntityRecordTable.go
  pkg/server/core-db/stores/entity/updateAttribute.go
  pkg/server/core-db/stores/entity/updateEntityDefinition.go
  pkg/server/core-db/stores/entity/updateRelationship.go
Due: pull-core-go-test

Add transaction manager to docs
  docs/backend_standards.md
Due: none

COR-487: tests, PR comments
  frontend/apps/core-app/src/components/RecipientListTable/RecipientListTableComponent.tsx
  frontend/apps/core-app/src/components/RecipientListTable/RecipientListTableFilter/RecipientListTableFilter.container.tsx
  frontend/apps/core-app/src/components/RecipientListTable/__tests__/RecipientListTableComponent.test.tsx
  frontend/apps/core-app/src/components/RecipientListTable/__tests__/RecipientListTableContainer.test.tsx
  frontend/apps/core-app/src/components/RecipientListTable/__tests__/__snapshots__/RecipientListTableComponent.test.tsx.snap
  frontend/apps/core-app/src/components/RecordEditor/FieldInput/__tests__/__snapshots__/CheckboxFieldInput.component.test.tsx.snap
  frontend/apps/core-app/src/components/RecordEditor/FieldInput/__tests__/__snapshots__/MultiSelectFieldInput.component.test.tsx.snap
  frontend/apps/core-app/src/components/RecordEditor/FieldInput/__tests__/__snapshots__/MultilineTextFieldInput.component.test.tsx.snap
  frontend/apps/core-app/src/components/RecordEditor/FieldInput/__tests__/__snapshots__/QuantityFieldInput.component.test.tsx.snap
  frontend/apps/core-app/src/components/RecordEditor/FieldInput/__tests__/__snapshots__/ReferenceFieldInput.component.test.tsx.snap
  frontend/apps/core-app/src/components/RecordEditor/FieldInput/__tests__/__snapshots__/SingleSelectFieldInput.component.test.tsx.snap
  frontend/apps/core-app/src/components/RecordEditor/FieldInput/__tests__/__snapshots__/SubFormFieldInput.component.test.tsx.snap
  frontend/apps/core-app/src/components/RecordEditor/FieldInput/__tests__/__snapshots__/TextFieldInput.component.test.tsx.snap
  frontend/apps/core-app/src/screens/LoginScreen/__tests__/__snapshots__/LoginScreen.component.test.tsx.snap
  frontend/apps/core-app/src/screens/RecipientListScreen/RecipientListScreen.component.tsx
  frontend/apps/core-app/src/screens/RecipientListScreen/RecipientListScreen.container.tsx
  frontend/apps/core-app/src/screens/RecipientListScreen/__tests__/RecipientListScreen.component.test.tsx
  frontend/apps/core-app/src/screens/RecipientListScreen/__tests__/RecipientListScreen.container.test.tsx
  frontend/apps/core-app/src/screens/RecipientListScreen/__tests__/__snapshots__/RecipientListScreen.component.test.tsx.snap
  frontend/apps/core-app/src/screens/RecipientListScreen/__tests__/__snapshots__/RecipientListScreen.container.test.tsx.snap
  frontend/apps/core-app/src/screens/RecipientRegistrationScreen/__tests__/__snapshots__/RecipientRegistrationScreen.component.test.tsx.snap
Due: pull-core-frontend-test

COR-487: more tests
  frontend/apps/core-app/src/components/RecipientListTable/__tests__/RecipientListTableComponent.test.tsx
  frontend/apps/core-app/src/components/RecipientListTable/__tests__/__snapshots__/RecipientListTableComponent.test.tsx.snap
  frontend/apps/core-app/src/screens/RecipientListScreen/__tests__/RecipientListScreen.container.test.tsx
  frontend/packages/design-system/src/themes/index.ts
  frontend/packages/design-system/src/tokens/spacing.ts
Due: pull-core-frontend-test

COR-487: fix client tests
  frontend/packages/core-api-client/src/client/Recipient.ts
  frontend/packages/core-api-client/src/client/__tests__/Recipient.test.ts
Due: pull-core-frontend-test

Add example without service layer
  pkg/server/core-db/models/foo/create.go
  pkg/server/core-db/models/foo/model.go
Due: pull-core-go-test

Add function to setup postgres and dbfactory + cleanup
  pkg/testutils/postgres.go
Due: pull-core-go-test

Path conditions:
  pull-core-frontend-test: any of: frontend/.*
  pull-core-pwa-test: any of: ^web/pwa
  pull-core-web-frontend-test: any of: ^web/app/frontend|^web/designsystem|^web/auth|^web/client
  pull-core-web-auth-test: any of: web/auth/*
  pull-core-go-test: any of: .go$|^go.mod$|^go.sum$
