Repository NorwegianRefugeeCouncil/core-uganda-pilot: changes, and which Prow jobs are due for each by the changed paths.
All: pull-core-frontend-test, pull-core-pwa-test, pull-core-web-frontend-test, pull-core-web-auth-test, pull-core-go-test

.prow/pull-core-frontend-test.yaml:

postsubmits:
  - name: pull-core-frontend-test
    run_if_changed: "frontend/.*"
    decorate: true
    spec:
      containers:
        - image: node
          command: [ "bash", "-c" ]
          args:
            - >
              ./scripts/prepare-frontend.sh &&
              cd frontend &&
              yarn test:stable
          env:
            - name: REACT_APP_OIDC_ISSUER
              value: https://fake.oidc.issuer.nrc.no
            - name: REACT_APP_OAUTH_SCOPE
              value: "openid profile email offline_access"
            - name:  REACT_APP_OAUTH_REDIRECT_URI
              value: http://localhost:3000/app
            - name: REACT_APP_OAUTH_CLIENT_ID
              value: core-app-frontend
            - name: REACT_APP_SERVER_URL
              value: https://localhost:8443

.prow/pull-core-pwa-test.yaml:

postsubmits:
  - name: pull-core-pwa-test
    run_if_changed: "^web/pwa"
    decorate: true
    spec:
      containers:
        - image: node
          command: [ "bash", "-c" ]
          args:
            - >
              ./scripts/build-client.sh &&
              ./scripts/build-auth.sh &&
              ./scripts/build-pwa.sh &&
              cd web/pwa &&
              yarn test

.prow/pull-core-web-app-frontend-test.yaml:

postsubmits:
  - name: pull-core-web-frontend-test
    run_if_changed: "^web/app/frontend|^web/designsystem|^web/auth|^web/client"
    decorate: true
    spec:
      containers:
        - image: node
          command: [ "bash", "-c" ]
          args:
            - >
              ./scripts/build-client.sh &&
              ./scripts/build-auth.sh &&
              ./scripts/build-design-system.sh &&
              ./scripts/build-frontend.sh &&
              cd web/app/frontend &&
              yarn test

.prow/pull-core-web-auth-test.yaml:

postsubmits:
  - name: pull-core-web-auth-test
    run_if_changed: "web/auth/*"
    decorate: true
    spec:
      containers:
        - image: node
          command: [ "bash", "-c" ]
          args: [ "cd web/auth && yarn install --frozen-lockfile && yarn test --all"]

.prow/push-core-go-test.yaml:

presubmits:
  - name: pull-core-go-test
    run_if_changed: ".go$|^go.mod$|^go.sum$"
    decorate: true
    spec:
      containers:
        - image: golang:1.16
          command: [ "bash", "-c" ]
          args:
            - >
              echo "Creating user" &&
              useradd go --create-home &&
              echo "Setting permissions" &&
              chown -R go:go . &&
              echo "Running as user 'go'" &&
              su go -c '
                echo "Downloading modules" &&
                go mod download &&
                echo "Running make gen" &&
                make gen &&
                echo "Checking make gen changes" &&
                git diff --exit-code &&
                echo "Running tests" &&
                go test ./pkg/...
              ' &&
              echo "Done"

Add @testing-library/jest-native
  frontend/apps/core-app/package.json
  frontend/yarn.lock
Due: pull-core-frontend-test

Fix react version
  frontend/package.json
Due: pull-core-frontend-test

Update snapshot
  frontend/apps/core-app/src/screens/LoginScreen/__snapshots__/LoginScreen.component.test.tsx.snap
Due: pull-core-frontend-test

COR-388: recreate token response from session storage, update client and storage when needed
  frontend/packages/core-auth/src/components/AuthWrapper.tsx
Due: pull-core-frontend-test

Add placeholders for empty env vars
  frontend/apps/core-app/eas.json
Due: pull-core-frontend-test

Clean up symlinks
  frontend/apps/core-app/package.json
Due: pull-core-frontend-test

WIp
  frontend/packages/core-auth/src/components/AuthWrapper.tsx
  frontend/packages/core-auth/src/types/response.ts
  frontend/packages/core-auth/src/utils/__tests__/getSessionStorage.test.js
  frontend/packages/core-auth/src/utils/getJSONFromSessionStorage.ts
Due: pull-core-frontend-test

COR-388: return new instance when refreshing token
  frontend/packages/core-auth/src/components/AuthWrapper.tsx
  frontend/packages/core-auth/src/types/response.ts
Due: pull-core-frontend-test

COR-388: remove redundant optional chaining operators
  frontend/packages/core-auth/src/components/AuthWrapper.tsx
Due: pull-core-frontend-test

Update expo updates
  frontend/apps/core-app/package.json
  frontend/yarn.lock
Due: pull-core-frontend-test

Write native .env to new native app
  cmd/devinit/core_native_app.go
Due: pull-core-go-test

COR-388: change useEffect depencency and add test for invalid json
  frontend/packages/core-auth/src/components/AuthWrapper.tsx
  frontend/packages/core-auth/src/utils/__tests__/getJSONFromSessionStorage.test.js
  frontend/packages/core-auth/src/utils/getJSONFromSessionStorage.ts
Due: pull-core-frontend-test

Add eas build script
  scripts/eas-build.sh
Due: none

Use the correct key when rendering single vs multi seclect
  frontend/apps/pwa/src/components/formFields/MultiSelectFieldEditor.tsx
  frontend/apps/pwa/src/components/formFields/SelectOptionsList.tsx
Due: pull-core-frontend-test

Get name of single select value for rendering
  frontend/apps/pwa/src/features/browser/RecordFieldList.tsx
Due: pull-core-frontend-test

Respect white space when rendering multiline text
  frontend/apps/pwa/src/features/browser/RecordField.tsx
Due: pull-core-frontend-test

Render empty value for null values
  frontend/apps/pwa/src/features/browser/RecordField.tsx
Due: pull-core-frontend-test

Set type to string as we cast before passing the prop
  frontend/apps/pwa/src/features/browser/RecordField.tsx
Due: pull-core-frontend-test

Don't format week and fix month format
  frontend/apps/pwa/src/features/browser/RecordField.tsx
Due: pull-core-frontend-test

Reformat month field in record list
  frontend/apps/pwa/src/features/browser/FormBrowser.tsx
Due: pull-core-frontend-test

Add boolean field type to form creation
  frontend/packages/core-api-client/src/lib/utils/getFieldKind.ts
  pkg/api/types/field_type.go
  pkg/api/types/fieldkind_string.go
  pkg/api/types/validation/form.go
  pkg/seeder/common_field_definitions.go
  pkg/seeder/global_dropdown_options.go
  pkg/sqlmanager/build_boolean_field.go
  pkg/sqlmanager/build_field.go
  pkg/sqlmanager/reader.go
  pkg/store/form.go
Due: pull-core-frontend-test, pull-core-go-test

Add checkbox to form creation UI
  frontend/apps/pwa/src/features/former/FieldTypePicker.tsx
  frontend/packages/core-api-client/src/lib/types/index.ts
Due: pull-core-frontend-test

Write boolean field to record
  pkg/api/types/validation/record.go
  pkg/sqlmanager/writer.go
Due: pull-core-go-test

Edit boolean field in record in ui
  frontend/apps/pwa/src/components/FieldEditor/FieldEditor.tsx
  frontend/apps/pwa/src/components/formFields/BooleanFieldEditor.tsx
Due: pull-core-frontend-test

Update yarn.lock
  frontend/yarn.lock
Due: pull-core-frontend-test

Ensure boolean field defaults to false
  frontend/apps/pwa/src/components/formFields/BooleanFieldEditor.tsx
Due: pull-core-frontend-test

Add tests for boolean field
  pkg/api/types/field_type_test.go
  pkg/api/types/validation/form_test.go
  pkg/api/types/validation/record_test.go
  pkg/sqlmanager/reader_test.go
  pkg/sqlmanager/writer_test.go
  pkg/store/form_test.go
  pkg/testutils/options.go
Due: pull-core-go-test

Use ABooleanField
  pkg/api/types/validation/record_test.go
Due: pull-core-go-test

Add boolean field type to mapFields
  frontend/apps/pwa/src/reducers/former.ts
Due: pull-core-frontend-test

Validate that boolean field is required and not a key
  pkg/api/types/validation/form.go
Due: pull-core-go-test

Enfore boolean constraints in frontend
  frontend/apps/pwa/src/features/former/Field.tsx
Due: pull-core-frontend-test

Fix tests
  pkg/api/types/validation/form_test.go
  pkg/api/types/validation/record_test.go
Due: pull-core-go-test

COR-499 add form type
  frontend/packages/core-api-client/src/lib/types/index.ts
  pkg/api/types/defaults/form.go
  pkg/api/types/form.go
  pkg/api/types/validation/form.go
  pkg/api/types/validation/form_test.go
  pkg/server/formsapi/handlers/form/create.go
  pkg/server/formsapi/tests/form_test.go
  pkg/store/form.go
  pkg/store/form_test.go
Due: pull-core-frontend-test, pull-core-go-test

COR-450 add validation for recipient forms
  pkg/api/types/scheme.go
  pkg/api/types/validation/form.go
  pkg/api/types/validation/recipient.go
  pkg/api/types/validation/recipient_test.go
  pkg/server/formsapi/handlers/form/create.go
  pkg/server/formsapi/handlers/form/create_test.go
Due: pull-core-go-test

COR-450 PR comments
  pkg/api/types/validation/recipient_test.go
Due: pull-core-go-test

COR-451 Recipient seed
  Makefile
  pkg/seeder/common_field_definitions.go
  pkg/seeder/seed_colombia.go
  pkg/seeder/seed_global.go
  scripts/seed.sh
Due: pull-core-go-test
