Repository NorwegianRefugeeCouncil/core-uganda-pilot: changes, and which Prow jobs are due for each by the changed paths.
All: pull-core-frontend-test, pull-core-pwa-test, pull-core-web-frontend-test, pull-core-web-auth-test, pull-core-go-test

.prow/pull-core-frontend-test.yaml:

postsubmits:
  - name: pull-core-frontend-test
    run_if_changed: "frontend/.*"
    decorate: true
    spec:
      containers:
        - image: node
          command: [ "bash", "-c" ]
          args:
            - >
              ./scripts/prepare-frontend.sh &&
              cd frontend &&
              yarn test:stable
          env:
            - name: REACT_APP_OIDC_ISSUER
              value: https://fake.oidc.issuer.nrc.no
            - name: REACT_APP_OAUTH_SCOPE
              value: "openid profile email offline_access"
            - name:  REACT_APP_OAUTH_REDIRECT_URI
              value: http://localhost:3000/app
            - name: REACT_APP_OAUTH_CLIENT_ID
              value: core-app-frontend
            - name: REACT_APP_SERVER_URL
              value: https://localhost:8443

.prow/pull-core-pwa-test.yaml:

postsubmits:
  - name: pull-core-pwa-test
    run_if_changed: "^web/pwa"
    decorate: true
    spec:
      containers:
        - image: node
          command: [ "bash", "-c" ]
          args:
            - >
              ./scripts/build-client.sh &&
              ./scripts/build-auth.sh &&
              ./scripts/build-pwa.sh &&
              cd web/pwa &&
              yarn test

.prow/pull-core-web-app-frontend-test.yaml:

postsubmits:
  - name: pull-core-web-frontend-test
    run_if_changed: "^web/app/frontend|^web/designsystem|^web/auth|^web/client"
    decorate: true
    spec:
      containers:
        - image: node
          command: [ "bash", "-c" ]
          args:
            - >
              ./scripts/build-client.sh &&
              ./scripts/build-auth.sh &&
              ./scripts/build-design-system.sh &&
              ./scripts/build-frontend.sh &&
              cd web/app/frontend &&
              yarn test

.prow/pull-core-web-auth-test.yaml:

postsubmits:
  - name: pull-core-web-auth-test
    run_if_changed: "web/auth/*"
    decorate: true
    spec:
      containers:
        - image: node
          command: [ "bash", "-c" ]
          args: [ "cd web/auth && yarn install --frozen-lockfile && yarn test --all"]

.prow/push-core-go-test.yaml:

presubmits:
  - name: pull-core-go-test
    run_if_changed: ".go$|^go.mod$|^go.sum$"
    decorate: true
    spec:
      containers:
        - image: golang:1.16
          command: [ "bash", "-c" ]
          args:
            - >
              echo "Creating user" &&
              useradd go --create-home &&
              echo "Setting permissions" &&
              chown -R go:go . &&
              echo "Running as user 'go'" &&
              su go -c '
                echo "Downloading modules" &&
                go mod download &&
                echo "Running make gen" &&
                make gen &&
                echo "Checking make gen changes" &&
                git diff --exit-code &&
                echo "Running tests" &&
                go test ./pkg/...
              ' &&
              echo "Done"

fix import
  pkg/server/forms/tests/main_test.go
Due: pull-core-go-test

fix import
  cmd/serve_all.go
  cmd/serve_public.go
  pkg/server/formsapi/handlers/database/create.go
  pkg/server/formsapi/handlers/database/delete.go
  pkg/server/formsapi/handlers/database/get.go
  pkg/server/formsapi/handlers/database/handler.go
  pkg/server/formsapi/handlers/database/list.go
  pkg/server/formsapi/handlers/folder/create.go
  pkg/server/formsapi/handlers/folder/delete.go
  pkg/server/formsapi/handlers/folder/get.go
  pkg/server/formsapi/handlers/folder/handler.go
  pkg/server/formsapi/handlers/folder/list.go
  pkg/server/formsapi/handlers/form/create.go
  pkg/server/formsapi/handlers/form/delete.go
  pkg/server/formsapi/handlers/form/get.go
  pkg/server/formsapi/handlers/form/handler.go
  pkg/server/formsapi/handlers/form/list.go
  pkg/server/formsapi/handlers/record/create.go
  pkg/server/formsapi/handlers/record/get.go
  pkg/server/formsapi/handlers/record/handler.go
  pkg/server/formsapi/handlers/record/list.go
  pkg/server/formsapi/handlers/record/update.go
  pkg/server/formsapi/server.go
  pkg/server/formsapi/tests/database_test.go
  pkg/server/formsapi/tests/doc.go
  pkg/server/formsapi/tests/folder_test.go
  pkg/server/formsapi/tests/form_test.go
  pkg/server/formsapi/tests/helpers_test.go
  pkg/server/formsapi/tests/main_test.go
  pkg/server/formsapi/tests/record_test.go
Due: pull-core-go-test

fix cmd
  cmd/serve_formsapi.go
Due: pull-core-go-test

fix imports
  cmd/serve_all.go
  cmd/serve_formsapi.go
  pkg/server/formsapi/server.go
  pkg/server/options/options.go
Due: pull-core-go-test

fix config
  configs/config.yaml
Due: none

fix devinit
  cmd/devinit/core_api.go
  cmd/devinit/core_forms_api.go
  cmd/devinit/main.go
Due: pull-core-go-test

fix devinit
  cmd/serve_all.go
  cmd/serve_formsapi.go
Due: pull-core-go-test

fix devinit
  cmd/serve_formsapi.go
Due: pull-core-go-test

fix devinit
  cmd/serve_forms_api.go
Due: pull-core-go-test

Rename `auth` to `authnz-bouncer`
  cmd/devinit/core_authnz_bouncer.go
  cmd/devinit/main.go
  cmd/serve_all.go
  cmd/serve_authnz_bouncer.go
  configs/config.yaml
  pkg/server/authnzbouncer/authenticators/hydra.go
  pkg/server/authnzbouncer/authorizers/hydra.go
  pkg/server/authnzbouncer/handlers/handler.go
  pkg/server/authnzbouncer/server.go
  pkg/server/login/store/auth_request.go
  pkg/server/options/options.go
Due: pull-core-go-test

fix bad rename
  pkg/server/login/store/auth_request.go
Due: pull-core-go-test

update documentation to represent new names of servers
  pkg/README.md
Due: none

fix cmd & devinit
  cmd/devinit/core_admin_api.go
  cmd/devinit/main.go
  cmd/serve_all.go
  cmd/serve_authnz_api.go
  configs/config.yaml
  pkg/server/authnzapi/handlers/clients/create.go
  pkg/server/authnzapi/handlers/clients/delete.go
  pkg/server/authnzapi/handlers/clients/get.go
  pkg/server/authnzapi/handlers/clients/handler.go
  pkg/server/authnzapi/handlers/clients/list.go
  pkg/server/authnzapi/handlers/clients/mappers.go
  pkg/server/authnzapi/handlers/clients/update.go
  pkg/server/authnzapi/handlers/identityprovider/create.go
  pkg/server/authnzapi/handlers/identityprovider/get.go
  pkg/server/authnzapi/handlers/identityprovider/handler.go
  pkg/server/authnzapi/handlers/identityprovider/list.go
  pkg/server/authnzapi/handlers/identityprovider/update.go
  pkg/server/authnzapi/handlers/organization/create.go
  pkg/server/authnzapi/handlers/organization/get.go
  pkg/server/authnzapi/handlers/organization/handler.go
  pkg/server/authnzapi/handlers/organization/list.go
  pkg/server/authnzapi/server.go
  pkg/server/options/options.go
Due: pull-core-go-test

update package import naming
  cmd/serve_all.go
Due: pull-core-go-test

parallel authentication and authorization on authnz-bouncer
  pkg/server/authnzbouncer/handlers/handler.go
Due: pull-core-go-test

PR Comments
  pkg/server/authnzbouncer/handlers/handler.go
Due: pull-core-go-test

Rename envoy clusters to match new naming convention
  deployments/envoy-local.yaml
  deployments/envoy.yaml
Due: none

Fix local tls cert paths
  configs/config.yaml
Due: none

Improve logging on server startup
  pkg/server/generic/server.go
Due: pull-core-go-test

Fix documentation
  docs/concepts.md
Due: none

Change single select store implementation
  pkg/sql/schema/sql_column_constraint.go
  pkg/sqlmanager/build_single_select_field.go
  pkg/sqlmanager/schema_test.go
Due: pull-core-go-test

add checks for null/not null single select cases
  pkg/server/formsapi/tests/record_test.go
  pkg/sqlmanager/build_single_select_field.go
  pkg/sqlmanager/schema_test.go
Due: pull-core-go-test

use new app name
  cmd/devinit/core_authnz_frontend.go
Due: pull-core-go-test

Add endpoint for creating resource Foo
  pkg/api/types/foo.go
  pkg/api/types/scheme.go
  pkg/api/types/validation/foo.go
  pkg/server/formsapi/handlers/foo/create.go
  pkg/server/formsapi/handlers/foo/handler.go
  pkg/server/formsapi/server.go
  pkg/store/foo.go
  pkg/store/migrate.go
Due: pull-core-go-test

Add frontend for testing create Foo
  frontend/apps/pwa/src/App.tsx
  frontend/apps/pwa/src/Foo.tsx
  frontend/packages/core-api-client/src/lib/client.ts
  frontend/packages/core-api-client/src/lib/types/index.ts
Due: pull-core-frontend-test

Add a uuid field
  frontend/apps/pwa/src/Foo.tsx
  pkg/api/types/foo.go
  pkg/api/types/validation/foo.go
  pkg/store/foo.go
Due: pull-core-frontend-test, pull-core-go-test

Refactor struct creation
  pkg/server/formsapi/handlers/foo/create.go
Due: pull-core-go-test

COR-426 allow string slice in record values
  pkg/api/types/record.go
  pkg/api/types/record_test.go
  pkg/api/types/validation/record.go
  pkg/api/types/validation/record_test.go
  pkg/server/formsapi/tests/record_test.go
  pkg/sqlmanager/formreader.go
  pkg/sqlmanager/formreader_test.go
  pkg/testutils/options.go
Due: pull-core-go-test

COR-335: frontend functionality
  frontend/apps/pwa/src/features/browser/FormBrowser.tsx
  frontend/apps/pwa/src/features/former/Field.tsx
  frontend/apps/pwa/src/features/former/FieldTypePicker.tsx
  frontend/apps/pwa/src/features/former/former.slice.ts
  frontend/apps/pwa/src/features/recorder/FieldEditor.tsx
  frontend/apps/pwa/src/features/recorder/recorder.slice.ts
  frontend/yarn.lock
Due: pull-core-frontend-test

COR-427 create multi select table
  pkg/sqlmanager/formwriter.go
  pkg/sqlmanager/formwriter_test.go
  pkg/sqlmanager/handle_create_column.go
  pkg/sqlmanager/handle_create_constraint.go
  pkg/sqlmanager/handle_create_table.go
  pkg/sqlmanager/handle_insert_record.go
  pkg/sqlmanager/reader.go
  pkg/sqlmanager/reader_test.go
  pkg/sqlmanager/schema.go
  pkg/sqlmanager/writer.go
  pkg/sqlmanager/writer_test.go
Due: pull-core-go-test

PR comments
  pkg/sqlmanager/reader.go
Due: pull-core-go-test

add StringOrArray failing marshal test cases
  pkg/api/types/record_test.go
Due: pull-core-go-test

remove duplication in tests
  pkg/api/types/validation/form_test.go
Due: pull-core-go-test

COR-429 Record validation logic
  pkg/api/types/record.go
  pkg/api/types/validation/record.go
  pkg/api/types/validation/record_test.go
  pkg/testutils/options.go
Due: pull-core-go-test

switch from multiple sql tables for multi select to array typed fields
  pkg/sql/schema/sql_data_types.go
  pkg/sql/schema/sql_data_types_test.go
  pkg/sqlmanager/build_multi_select_field.go
  pkg/sqlmanager/reader.go
  pkg/sqlmanager/writer.go
  pkg/sqlmanager/writer_test.go
Due: pull-core-go-test

COR-431 Form validation logic
  pkg/api/types/validation/form.go
  pkg/api/types/validation/form_test.go
Due: pull-core-go-test

COR-428 Record hydration/storage logic
  pkg/api/types/record.go
  pkg/server/formsapi/handlers/form/create.go
  pkg/server/formsapi/tests/record_test.go
  pkg/sqlmanager/reader.go
  pkg/sqlmanager/reader_test.go
  pkg/sqlmanager/writer.go
  pkg/store/form.go
  pkg/store/record.go
Due: pull-core-go-test
