Repository NorwegianRefugeeCouncil/core-uganda-pilot: changes, and which Prow jobs are due for each by the changed paths.
All: pull-core-web-frontend-test, pull-core-web-auth-test

pull-core-web-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node
      command:
      - bash
      - -c
      args:
      - './scripts/build-client.sh && ./scripts/build-auth.sh && ./scripts/build-design-system.sh && ./scripts/build-frontend.sh && cd web/app/frontend && yarn test
  
        '

pull-core-web-auth-test:
  decorate: true
  spec:
    containers:
    - image: node
      command:
      - bash
      - -c
      args:
      - cd web/auth && yarn install --frozen-lockfile && yarn test --all

COR-340 Fix client library build
  web/app/client/package.json
  web/app/client/src/index.ts
  web/app/client/tsconfig.json
  web/designsystem/package.json
Due: pull-core-web-frontend-test

COR-340 Fix dev dependencies
  web/designsystem/package.json
  web/designsystem/yarn.lock
Due: pull-core-web-frontend-test

COR-340 Fix dev dependencies
  web/auth/package.json
  web/auth/yarn.lock
Due: pull-core-web-frontend-test, pull-core-web-auth-test

COR-340 Fix dev dependencies
  web/auth/package.json
Due: pull-core-web-frontend-test, pull-core-web-auth-test

COR-340 Fix test structure
  web/app/client/.gitignore
  web/app/client/src/index.ts
  web/app/client/src/lib/client.ts
  web/app/client/src/lib/types/index.ts
  web/app/client/src/lib/utils/getFieldKind.ts
  web/app/client/src/lib/utils/index.ts
  web/app/client/src/lib/utils/responses.ts
  web/app/client/tsconfig.json
  web/app/frontend/src/components/form/Checkbox.tsx
  web/app/frontend/src/components/form/FormControl.tsx
  web/app/frontend/src/components/form/RadioButtons.tsx
  web/app/frontend/src/components/form/Switch.tsx
  web/app/frontend/yarn.lock
  web/auth/babel.config.js
  web/auth/package.json
  web/auth/src/components/__tests__/AuthWrapper.test.js
  web/auth/src/components/__tests__/AuthWrapper.test.tsx
  web/auth/src/types/browser.ts
  web/auth/yarn.lock
Due: pull-core-web-frontend-test, pull-core-web-auth-test

COR-340 Include snapshots in source control
  web/app/frontend/.gitignore
  web/app/frontend/__tests__/__snapshots__/App.test.tsx.snap
Due: pull-core-web-frontend-test

COR-340 add required dev dependencies for web/auth
  web/auth/package.json
Due: pull-core-web-frontend-test, pull-core-web-auth-test

COR-340-PARTIAL: Setup Test Stack (#261)
  .prow/pull-core-web-app-frontend-test.yaml
  .prow/pull-core-web-auth-test.yaml
  web/app/client/.gitignore
  web/app/client/package.json
  web/app/client/src/index.ts
  web/app/client/src/lib/client.ts
  web/app/client/src/lib/types/index.ts
  web/app/client/src/lib/utils/getFieldKind.ts
  web/app/client/src/lib/utils/index.ts
  web/app/client/src/lib/utils/responses.ts
  web/app/client/tsconfig.json
  web/app/frontend/.gitignore
  web/app/frontend/__tests__/App.test.js
  web/app/frontend/__tests__/App.test.tsx
  web/app/frontend/__tests__/__snapshots__/App.test.tsx.snap
  web/app/frontend/__tests__/utils/storage.test.ts
  web/app/frontend/jest.config.js
  web/app/frontend/jest.setup.js
  web/app/frontend/package.json
  web/app/frontend/setup.js
  web/app/frontend/src/components/form/Checkbox.tsx
  web/app/frontend/src/components/form/FormControl.tsx
  web/app/frontend/src/components/form/RadioButtons.tsx
  web/app/frontend/src/components/form/Switch.tsx
  web/app/frontend/yarn.lock
  web/auth/babel.config.js
  web/auth/package.json
  web/auth/src/components/__tests__/AuthWrapper.test.js
  web/auth/src/components/__tests__/AuthWrapper.test.tsx
  web/auth/src/types/browser.ts
  web/auth/yarn.lock
  web/designsystem/package.json
  web/designsystem/src/index.ts
  web/designsystem/tsconfig.json
  web/designsystem/yarn.lock
Due: pull-core-web-frontend-test, pull-core-web-auth-test

Delete test.yaml
  .prow/test.yaml
Due: none

COR-369 add initial documentation for basic types
  pkg/api/types/database.go
  pkg/api/types/field.go
  pkg/api/types/field_type.go
  pkg/api/types/folder.go
  pkg/api/types/form.go
Due: none

COR-369 fix
  pkg/api/types/database.go
  pkg/api/types/field.go
Due: none

Update recipientdef.go
  pkg/api/types/recipientdef.go
Due: none

Update casedef.go
  pkg/api/types/casedef.go
Due: none

setup
  web/app/frontend/.eslintrc.js
  web/app/frontend/.prettierrc
  web/app/frontend/package.json
  web/app/frontend/tsconfig.json
  web/app/frontend/yarn.lock
Due: pull-core-web-frontend-test

setup
  web/app/frontend/.eslintrc.js
  web/app/frontend/package.json
Due: pull-core-web-frontend-test

add lint scripts
  web/app/frontend/package.json
Due: pull-core-web-frontend-test

COR-363 proposal
  pkg/api/types/casedef.go
  pkg/api/types/doc.go
  pkg/api/types/recipientdef.go
Due: none

COR-363 PR comments
  pkg/api/types/casedef.go
Due: none

COR-363 PR comments
  pkg/api/types/casedef.go
  pkg/api/types/record.go
Due: none

Update OWNERS
  OWNERS
Due: none

database store tests and documentation
  go.mod
  go.sum
  pkg/api/types/database.go
  pkg/server/public/handlers/database/create.go
  pkg/store/clear.go
  pkg/store/context.go
  pkg/store/database.go
  pkg/store/database_test.go
  pkg/store/errors.go
Due: none

add protection for the store.Clear method
  pkg/store/clear.go
  pkg/store/clear_test.go
Due: none

PR comments
  pkg/store/database.go
Due: none

add documentation on postgres error codes
  pkg/store/errors.go
Due: none

Update pkg/store/context.go
  pkg/store/context.go
Due: none

add basic form validation
  pkg/api/types/validation/form.go
  pkg/api/types/validation/form_test.go
  pkg/server/public/handlers/form/create.go
Due: none

add validation to forms
  pkg/api/types/validation/form.go
  pkg/api/types/validation/form_test.go
Due: none

add better validation for accessors and field kinds
  pkg/api/types/field_type.go
  pkg/api/types/field_type_test.go
Due: none

setup tests
  web/app/frontend/yarn.lock
Due: pull-core-web-frontend-test

update router; fix client call error
  web/app/frontend/src/components/Router.tsx
  web/app/frontend/src/components/screen_containers/FormsScreenContainer.tsx
Due: pull-core-web-frontend-test

add FormsScreen test
  web/app/frontend/__tests__/screens/FormsScreen.test.js
  web/app/frontend/src/components/screen_containers/FormsScreenContainer.tsx
  web/app/frontend/src/components/screens/FormsScreen.tsx
  web/app/frontend/src/constants/testIds.js
  web/app/frontend/src/reducers/recordsReducers.ts
  web/app/frontend/src/types/screens.ts
Due: pull-core-web-frontend-test

add better validation for accessors and field kinds
  pkg/api/types/field_type_test.go
Due: none

remove omitempty from FieldDefinition.Name
  pkg/api/types/field.go
Due: none

PR Comments
  pkg/api/types/field.go
  pkg/api/types/field_type.go
  pkg/api/types/form.go
  pkg/api/types/form_interface.go
  pkg/sql/schema/sql_column_constraint.go
  pkg/sql/schema/sql_field.go
Due: none

COR-369 additional documentation, minor refactor/renaming, tests
  .prow/push-core-go-test.yaml
  pkg/api/types/field.go
  pkg/api/types/field_type.go
  pkg/api/types/form.go
  pkg/api/types/formintf.go
  pkg/api/types/identity_provider.go
  pkg/api/types/oauth2_client.go
  pkg/api/types/organization.go
  pkg/api/types/record.go
  pkg/api/types/user.go
  pkg/server/admin/handlers/clients/create.go
  pkg/server/admin/handlers/clients/handler.go
  pkg/server/admin/handlers/clients/mappers.go
  pkg/server/admin/handlers/clients/update.go
  pkg/sql/convert/convert.go
  pkg/sql/convert/convert_test.go
  pkg/sql/convert/create.go
  pkg/sql/schema/sql_column_constraint.go
  pkg/sql/schema/sql_data_types.go
  pkg/sql/schema/sql_data_types_test.go
  pkg/sql/schema/sql_field.go
  pkg/sql/schema/sql_field_test.go
  pkg/sql/schema/sql_schema_test.go
  pkg/sql/schema/sql_table.go
  pkg/sql/schema/sql_table_constraint.go
  pkg/sql/schema/sql_table_test.go
  pkg/store/form.go
  pkg/store/organization.go
Due: none

add `make-gen` step in prow job
  .prow/push-core-go-test.yaml
Due: none

add missing go packages
  go.mod
  go.sum
Due: none

fix prow job
  .prow/push-core-go-test.yaml
Due: none

Path conditions:
  pull-core-web-frontend-test: any of: ^web/app/frontend|^web/designsystem|^web/auth|^web/client
  pull-core-web-auth-test: any of: web/auth/*
