Repository NorwegianRefugeeCouncil/core-uganda-pilot: changes, and which Prow jobs are due for each by the changed paths.
All: pull-core-frontend-test, pull-core-pwa-test, pull-core-web-frontend-test, pull-core-web-auth-test, pull-core-go-test

.prow/pull-core-frontend-test.yaml:

postsubmits:
  - name: pull-core-frontend-test
    run_if_changed: "frontend/.*"
    decorate: true
    spec:
      containers:
        - image: node
          command: [ "bash", "-c" ]
          args:
            - >
              ./scripts/prepare-frontend.sh &&
              cd frontend &&
              yarn test:stable
          env:
            - name: REACT_APP_OIDC_ISSUER
              value: https://fake.oidc.issuer.nrc.no
            - name: REACT_APP_OAUTH_SCOPE
              value: "openid profile email offline_access"
            - name:  REACT_APP_OAUTH_REDIRECT_URI
              value: http://localhost:3000/app
            - name: REACT_APP_OAUTH_CLIENT_ID
              value: core-app-frontend
            - name: REACT_APP_SERVER_URL
              value: https://localhost:8443

.prow/pull-core-pwa-test.yaml:

postsubmits:
  - name: pull-core-pwa-test
    run_if_changed: "^web/pwa"
    decorate: true
    spec:
      containers:
        - image: node
          command: [ "bash", "-c" ]
          args:
            - >
              ./scripts/build-client.sh &&
              ./scripts/build-auth.sh &&
              ./scripts/build-pwa.sh &&
              cd web/pwa &&
              yarn test

.prow/pull-core-web-app-frontend-test.yaml:

postsubmits:
  - name: pull-core-web-frontend-test
    run_if_changed: "^web/app/frontend|^web/designsystem|^web/auth|^web/client"
    decorate: true
    spec:
      containers:
        - image: node
          command: [ "bash", "-c" ]
          args:
            - >
              ./scripts/build-client.sh &&
              ./scripts/build-auth.sh &&
              ./scripts/build-design-system.sh &&
              ./scripts/build-frontend.sh &&
              cd web/app/frontend &&
              yarn test

.prow/pull-core-web-auth-test.yaml:

postsubmits:
  - name: pull-core-web-auth-test
    run_if_changed: "web/auth/*"
    decorate: true
    spec:
      containers:
        - image: node
          command: [ "bash", "-c" ]
          args: [ "cd web/auth && yarn install --frozen-lockfile && yarn test --all"]

.prow/push-core-go-test.yaml:

presubmits:
  - name: pull-core-go-test
    run_if_changed: ".go$|^go.mod$|^go.sum$"
    decorate: true
    spec:
      containers:
        - image: golang:1.16
          command: [ "bash", "-c" ]
          args:
            - >
              echo "Creating user" &&
              useradd go --create-home &&
              echo "Setting permissions" &&
              chown -R go:go . &&
              echo "Running as user 'go'" &&
              su go -c '
                echo "Downloading modules" &&
                go mod download &&
                echo "Running make gen" &&
                make gen &&
                echo "Checking make gen changes" &&
                git diff --exit-code &&
                echo "Running tests" &&
                go test ./pkg/...
              ' &&
              echo "Done"

add common field defs
  pkg/seeder/common_field_definitions.go
Due: pull-core-go-test

Delete seed_uganda.go
  cmd/seed_uganda.go
Due: pull-core-go-test

setup skeleton
  cmd/seed.go
  cmd/seed_global.go
  cmd/seed_uganda.go
  pkg/seeder/seed.go
  pkg/seeder/seed_global.go
  pkg/seeder/static_select_options.go
Due: pull-core-go-test

Add tests for useTokenResponse
  frontend/app.json
  frontend/apps/core-app/src/components/AuthWrapper/useTokenResponse.test.ts
Due: pull-core-frontend-test

update regex
  pkg/api/types/validation/form.go
  pkg/api/types/validation/form_test.go
Due: pull-core-go-test

colombia forms
  pkg/seeder/colombia_dropdown_options.go
  pkg/seeder/seed_colombia.go
Due: pull-core-go-test

cli cmd
  cmd/seed_colombia.go
  pkg/seeder/seed.go
  pkg/seeder/seed_colombia.go
Due: pull-core-go-test

run gofmt
  pkg/api/types/folder.go
  pkg/api/types/form_reference.go
  pkg/api/types/validation/form.go
  pkg/seeder/common_field_definitions.go
  pkg/server/authnzbouncer/authorizers/hydra.go
  pkg/server/formsapi/tests/record_test.go
  pkg/sqlmanager/build_date_field.go
  pkg/sqlmanager/build_multiline_field.go
  pkg/sqlmanager/build_quantity_field.go
  pkg/utils/dates/isoweek.go
Due: pull-core-go-test

gofmt
  pkg/seeder/colombia_dropdown_options.go
Due: pull-core-go-test

Update frontend/apps/pwa/src/features/former/Former.tsx
  frontend/apps/pwa/src/features/former/Former.tsx
Due: pull-core-frontend-test

Update Former.tsx
  frontend/apps/pwa/src/features/former/Former.tsx
Due: pull-core-frontend-test

Update FormName.tsx
  frontend/apps/pwa/src/features/former/FormName.tsx
Due: pull-core-frontend-test

remove obsolete UgandaContext reference
  pkg/seeder/seed.go
Due: pull-core-go-test

Update former.slice.ts
  web/pwa/src/features/former/former.slice.ts
Due: pull-core-pwa-test

move FormerContainer to own file
  frontend/apps/pwa/src/components/AuthenticatedApp.tsx
  frontend/apps/pwa/src/features/former/Former.tsx
  frontend/apps/pwa/src/features/former/FormerContainer.tsx
Due: pull-core-frontend-test

remove obsolete folder
  web/pwa/src/features/former/Field.tsx
  web/pwa/src/features/former/Former.tsx
  web/pwa/src/features/former/former.slice.ts
Due: pull-core-pwa-test

COR 445 Colombia Seeder Data (#348)
  cmd/seed_colombia.go
  pkg/seeder/colombia_dropdown_options.go
  pkg/seeder/seed.go
  pkg/seeder/seed_colombia.go
Due: pull-core-go-test

Update colombia_dropdown_options.go
  pkg/seeder/colombia_dropdown_options.go
Due: pull-core-go-test

Update seed_colombia.go
  pkg/seeder/seed_colombia.go
Due: pull-core-go-test

COR 445 Colombia Seeder Seeder Skeleton (#347)
  cmd/seed.go
  cmd/seed_colombia.go
  cmd/seed_global.go
  pkg/api/types/folder.go
  pkg/api/types/form_reference.go
  pkg/api/types/validation/form.go
  pkg/api/types/validation/form_test.go
  pkg/seeder/colombia_dropdown_options.go
  pkg/seeder/common_field_definitions.go
  pkg/seeder/global_dropdown_options.go
  pkg/seeder/seed.go
  pkg/seeder/seed_colombia.go
  pkg/seeder/seed_global.go
  pkg/server/authnzbouncer/authorizers/hydra.go
  pkg/server/formsapi/tests/record_test.go
  pkg/sqlmanager/build_date_field.go
  pkg/sqlmanager/build_multiline_field.go
  pkg/sqlmanager/build_quantity_field.go
  pkg/utils/dates/isoweek.go
Due: pull-core-go-test

deduplicate seeder cmd logic
  cmd/seed_colombia.go
  cmd/seed_global.go
Due: pull-core-go-test

lint
  cmd/seed_global.go
  pkg/api/types/validation/form_test.go
  pkg/seeder/colombia_dropdown_options.go
  tools/main.go
Due: pull-core-go-test

COR-427 create multi select table
  pkg/sqlmanager/writer_test.go
Due: pull-core-go-test

COR-428 Record hydration/storage logic
  pkg/sqlmanager/writer.go
Due: pull-core-go-test

Run seed when server starts, try to create new folders and forms but failed
  cmd/seed_uganda.go
  cmd/serve.go
  pkg/seeder/static_forms.go
  scripts/seed-db.sh
Due: pull-core-go-test

refactor static data; refactor seed cmd
  cmd/seed_uganda.go
  pkg/seeder/build_fns.go
  pkg/seeder/seed_uganda.go
  pkg/seeder/static_forms.go
  pkg/seeder/static_select_options.go
Due: pull-core-go-test

reverted serve setup
  cmd/serve.go
Due: pull-core-go-test

Changes to seeder
  cmd/seed_uganda.go
  pkg/rest/client.go
  pkg/seeder/seed_uganda.go
  pkg/seeder/static_select_options.go
Due: pull-core-go-test

bli
  pkg/seeder/seed_uganda.go
Due: pull-core-go-test

cleanup startup commands
  cmd/clear.go
  cmd/migrate.go
  cmd/root.go
  cmd/root_test.go
  cmd/serve.go
  go.mod
  go.sum
  pkg/README.md
Due: pull-core-go-test

DS-33: clean up
  frontend/packages/design-system/src/themes/Button.ts
  frontend/packages/design-system/src/themes/Icon.ts
  frontend/storybook/storybook/stories/Icon/Icon.stories.js
  frontend/yarn.lock
Due: pull-core-frontend-test

DS-33: prevent error if icon is undefined
  frontend/packages/design-system/src/components/Icon.tsx
Due: pull-core-frontend-test

DS-33: export iconMap
  frontend/packages/design-system/src/index.ts
  frontend/packages/design-system/src/types/icons.ts
  frontend/storybook/storybook/stories/Button/Button.stories.js
  frontend/storybook/storybook/stories/Icon/Icon.stories.js
Due: pull-core-frontend-test

DS-33: set default size for icons
  frontend/packages/design-system/src/components/Icon.tsx
  frontend/packages/design-system/src/themes/Icon.ts
  frontend/packages/design-system/src/themes/index.ts
  frontend/storybook/storybook/stories/Icon/Icon.stories.js
Due: pull-core-frontend-test
