Repository NorwegianRefugeeCouncil/core-uganda-pilot: changes, and which Prow jobs are due for each by the changed paths.
All: pull-core-frontend-test, pull-core-pwa-test, pull-core-web-frontend-test, pull-core-web-auth-test, pull-core-go-test

pull-core-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node
      command:
      - bash
      - -c
      args:
      - './scripts/prepare-frontend.sh && cd frontend && yarn test:stable
  
        '
      env:
      - name: REACT_APP_OIDC_ISSUER
        value: https://fake.oidc.issuer.nrc.no
      - name: REACT_APP_OAUTH_SCOPE
  ...

pull-core-pwa-test:
  decorate: true
  spec:
    containers:
    - image: node
      command:
      - bash
      - -c
      args:
      - './scripts/build-client.sh && ./scripts/build-auth.sh && ./scripts/build-pwa.sh && cd web/pwa && yarn test
  
        '

pull-core-web-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node
      command:
      - bash
      - -c
      args:
      - './scripts/build-client.sh && ./scripts/build-auth.sh && ./scripts/build-design-system.sh && ./scripts/build-frontend.sh && cd web/app/frontend && yarn test
  
        '

pull-core-web-auth-test:
  decorate: true
  spec:
    containers:
    - image: node
      command:
      - bash
      - -c
      args:
      - cd web/auth && yarn install --frozen-lockfile && yarn test --all

pull-core-go-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.16
      command:
      - bash
      - -c
      args:
  ...

COR-430 multiselect sql table
  pkg/api/types/field_type.go
  pkg/api/types/field_type_test.go
  pkg/api/types/fieldkind_string.go
  pkg/sqlmanager/build_field.go
  pkg/sqlmanager/build_multi_select_field.go
  pkg/sqlmanager/constants.go
  pkg/sqlmanager/writer_test.go
  pkg/store/record.go
Due: pull-core-go-test

add types in frontend api client package
  frontend/packages/core-api-client/src/lib/types/index.ts
  frontend/packages/core-api-client/src/lib/utils/getFieldKind.ts
Due: pull-core-frontend-test

sort multi-selection fields values when inserting a record so that writes are deterministic
  pkg/sqlmanager/writer.go
Due: pull-core-go-test

basic frontend changes to allow multi-select fields
  frontend/apps/pwa/src/components/RecordPicker.tsx
  frontend/apps/pwa/src/features/browser/RecordBrowser.tsx
  frontend/apps/pwa/src/features/recorder/FieldEditor.tsx
Due: pull-core-frontend-test

COR-335: fix record view, re-add tests, add coverage in pwa
  frontend/apps/pwa/package.json
  frontend/apps/pwa/src/features/browser/FormBrowser.tsx
  frontend/apps/pwa/src/features/browser/RecordBrowser.tsx
  frontend/yarn.lock
  pkg/server/formsapi/tests/record_test.go
Due: pull-core-frontend-test, pull-core-go-test

fix tests
  pkg/api/types/record.go
  pkg/api/types/validation/record.go
  pkg/server/formsapi/handlers/record/create.go
  pkg/sqlmanager/reader.go
  pkg/store/record.go
Due: pull-core-go-test

fix tests
  pkg/api/types/validation/record_test.go
Due: pull-core-go-test

COR-335: add null test
  pkg/server/formsapi/tests/record_test.go
Due: pull-core-go-test

DS-43: spacing
  frontend/packages/design-system/src/themes/index.ts
  frontend/packages/design-system/src/tokens/index.ts
  frontend/packages/design-system/src/tokens/spacing.ts
Due: pull-core-frontend-test

DS-43: switch to camel case
  frontend/packages/design-system/src/themes/index.ts
  frontend/packages/design-system/src/tokens/spacing.ts
Due: pull-core-frontend-test

Update authnz client to use an internal axios instance, with base url, and setAuth method
  frontend/apps/core-authnz-frontend/src/app/client.ts
  frontend/apps/core-authnz-frontend/src/client/client.ts
Due: pull-core-frontend-test

Update forms client to use an internal axios instance, with base url, and setAuth method
  frontend/apps/native/src/utils/clients.ts
  frontend/apps/pwa/src/app/client.ts
  frontend/packages/core-api-client/src/lib/client.ts
  frontend/packages/core-api-client/src/lib/types/index.ts
Due: pull-core-frontend-test

Update core-auth to use an onTokenChange prop
  frontend/apps/core-authnz-frontend/src/App.tsx
  frontend/apps/pwa/src/App.tsx
  frontend/packages/core-auth/src/components/AuthWrapper.tsx
  frontend/packages/core-auth/src/types/types.ts
Due: pull-core-frontend-test

Update native AuthWrapper to use an onTokenChange prop
  frontend/apps/native/App.tsx
  frontend/apps/native/src/components/AuthWrapper.tsx
Due: pull-core-frontend-test

Refactor api client to a base class
  frontend/apps/core-authnz-frontend/package.json
  frontend/apps/core-authnz-frontend/src/client/client.ts
  frontend/apps/core-authnz-frontend/src/types/restTypes.ts
  frontend/apps/core-authnz-frontend/src/types/utils.ts
  frontend/apps/core-authnz-frontend/src/utils/responses.ts
  frontend/packages/core-api-client/src/index.ts
  frontend/packages/core-api-client/src/lib/BaseRESTClient.ts
  frontend/packages/core-api-client/src/lib/client.ts
  frontend/packages/core-api-client/src/lib/types/index.ts
  frontend/packages/core-api-client/src/lib/utils/responses.ts
Due: pull-core-frontend-test

Add make command to run all backend commands
  Makefile
Due: none

WIP: Add script to run all backend processes
  scripts/serve-backend.sh
Due: none

Fix incredibly annoying typo
  scripts/serve-backend.sh
Due: none

Stop script from exiting
  scripts/serve-backend.sh
Due: none

Only trap on exit
  scripts/serve-backend.sh
Due: none

WIP: native app skeleton
  frontend/apps/core-app/.env
  frontend/apps/core-app/.expo-shared/assets.json
  frontend/apps/core-app/.gitignore
  frontend/apps/core-app/App.tsx
  frontend/apps/core-app/app.config.ts
  frontend/apps/core-app/app.json
  frontend/apps/core-app/assets/png/nrc.png
  frontend/apps/core-app/assets/png/search_white.png
  frontend/apps/core-app/assets/png/symbol_Hide.png
  frontend/apps/core-app/assets/png/symbol_close.png
  frontend/apps/core-app/assets/png/symbol_filter.png
  frontend/apps/core-app/assets/png/symbol_individuals.png
  frontend/apps/core-app/assets/png/symbol_more.png
  frontend/apps/core-app/assets/svg/nrc.svg
  frontend/apps/core-app/assets/svg/search_white.svg
  frontend/apps/core-app/assets/svg/symbol_Hide.svg
  frontend/apps/core-app/assets/svg/symbol_close.svg
  frontend/apps/core-app/assets/svg/symbol_filter.svg
  frontend/apps/core-app/assets/svg/symbol_individuals.svg
  frontend/apps/core-app/assets/svg/symbol_more.svg
  frontend/apps/core-app/babel.config.js
  frontend/apps/core-app/metro.config.js
  frontend/apps/core-app/package.json
  frontend/apps/core-app/src/clients/formsClient.ts
  frontend/apps/core-app/src/components/AuthWrapper/AuthWrapper.tsx
  frontend/apps/core-app/src/components/AuthWrapper/index.ts
  frontend/apps/core-app/src/navigators/index.ts
  frontend/apps/core-app/src/navigators/root.tsx
  frontend/apps/core-app/src/screens/LoginScreen/LoginScreen.component.tsx
  frontend/apps/core-app/src/screens/LoginScreen/LoginScreen.styles.ts
  frontend/apps/core-app/src/screens/LoginScreen/index.ts
  frontend/apps/core-app/src/store/hooks.ts
  frontend/apps/core-app/src/store/store.ts
  frontend/apps/core-app/src/types/.gitkeep
  frontend/apps/core-app/tsconfig.json
  frontend/apps/core-app/webpack.config.js
  frontend/yarn.lock
Due: pull-core-frontend-test

Fixes
  frontend/apps/native/src/components/form/FormControl.tsx
  frontend/apps/native/src/components/screens/RecordsScreen.tsx
  frontend/packages/core-api-client/src/lib/utils/getFieldKind.ts
Due: pull-core-frontend-test

Setup testing
  frontend/apps/core-app/.gitignore
  frontend/apps/core-app/package.json
  frontend/apps/core-app/src/clients/formsClient.ts
  frontend/apps/core-app/src/components/AuthWrapper/AuthWrapper.test.tsx
  frontend/apps/core-app/src/components/AuthWrapper/useTokenResponse.test.ts
  frontend/package.json
  frontend/yarn.lock
Due: pull-core-frontend-test

Refactor token response into a hook
  frontend/apps/core-app/src/components/AuthWrapper/AuthWrapper.tsx
  frontend/apps/core-app/src/components/AuthWrapper/useTokenResponse.ts
Due: pull-core-frontend-test

Setup tests
  frontend/apps/core-app/package.json
  frontend/yarn.lock
Due: pull-core-frontend-test

Check for pids before killing
  scripts/serve-backend.sh
Due: none

implement infering form name for subforms from their parent and hiding the form name field if the parent name exists
  frontend/apps/pwa/src/features/former/FormName.tsx
  frontend/apps/pwa/src/features/former/Former.tsx
  scripts/up.sh
  web/pwa/src/features/former/Field.tsx
  web/pwa/src/features/former/Former.tsx
  web/pwa/src/features/former/former.slice.ts
Due: pull-core-frontend-test, pull-core-pwa-test

Add util method to render tests with theme and navigation
  frontend/apps/core-app/src/testUtils/render.tsx
Due: pull-core-frontend-test

Add login screen test
  frontend/apps/core-app/src/screens/LoginScreen/LoginScreen.component.test.tsx
  frontend/apps/core-app/src/screens/LoginScreen/__snapshots__/LoginScreen.component.test.tsx.snap
Due: pull-core-frontend-test

Refactor all auth logic into hook
  frontend/apps/core-app/src/components/AuthWrapper/AuthWrapper.tsx
  frontend/apps/core-app/src/components/AuthWrapper/useTokenResponse.ts
Due: pull-core-frontend-test

Add auth wrapper tests
  frontend/apps/core-app/src/components/AuthWrapper/AuthWrapper.test.tsx
Due: pull-core-frontend-test

Reduce line length to 80
  frontend/.eslintrc.js
  frontend/.prettierrc.js
Due: pull-core-frontend-test

Remove .env from bad commit
  frontend/apps/core-app/.env
  frontend/apps/core-app/.gitignore
Due: pull-core-frontend-test

Rename spy to mock for clarity
  frontend/apps/core-app/src/components/AuthWrapper/AuthWrapper.test.tsx
Due: pull-core-frontend-test

Add jest rn setup step
  frontend/apps/core-app/package.json
Due: pull-core-frontend-test

Add react hooks testing package
  frontend/apps/core-app/package.json
  frontend/yarn.lock
Due: pull-core-frontend-test

add build fns
  pkg/seeder/build_fns.go
Due: pull-core-go-test

rebase; refactor; rename
  pkg/seeder/build_fns.go
  pkg/seeder/common_field_definitions.go
  pkg/seeder/global_dropdown_options.go
  pkg/seeder/seed.go
  pkg/seeder/seed_global.go
Due: pull-core-go-test

Path conditions:
  pull-core-frontend-test: any of: frontend/.*
  pull-core-pwa-test: any of: ^web/pwa
  pull-core-web-frontend-test: any of: ^web/app/frontend|^web/designsystem|^web/auth|^web/client
  pull-core-web-auth-test: any of: web/auth/*
  pull-core-go-test: any of: .go$|^go.mod$|^go.sum$
