Repository NorwegianRefugeeCouncil/core-uganda-pilot: changes, and which Prow jobs are due for each by the changed paths.
All: pull-core-frontend-test, pull-core-pwa-test, pull-core-web-frontend-test, pull-core-web-auth-test, pull-core-go-test

pull-core-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node
      command:
      - bash
      - -c
      args:
      - './scripts/prepare-frontend.sh && cd frontend && yarn test:stable
  
        '
      env:
      - name: REACT_APP_OIDC_ISSUER
        value: https://fake.oidc.issuer.nrc.no
      - name: REACT_APP_OAUTH_SCOPE
  ...

pull-core-pwa-test:
  decorate: true
  spec:
    containers:
    - image: node
      command:
      - bash
      - -c
      args:
      - './scripts/build-client.sh && ./scripts/build-auth.sh && ./scripts/build-pwa.sh && cd web/pwa && yarn test
  
        '

pull-core-web-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node
      command:
      - bash
      - -c
      args:
      - './scripts/build-client.sh && ./scripts/build-auth.sh && ./scripts/build-design-system.sh && ./scripts/build-frontend.sh && cd web/app/frontend && yarn test
  
        '

pull-core-web-auth-test:
  decorate: true
  spec:
    containers:
    - image: node
      command:
      - bash
      - -c
      args:
      - cd web/auth && yarn install --frozen-lockfile && yarn test --all

pull-core-go-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.16
      command:
      - bash
      - -c
      args:
  ...

Don't make unecessary api call
  frontend/packages/core-api-client/src/client/Record.ts
Due: pull-core-frontend-test

Fix type errors in pwa
  frontend/apps/pwa/src/components/formFields/DateFieldEditor.tsx
  frontend/apps/pwa/src/components/formFields/MultiSelectFieldEditor.tsx
  frontend/apps/pwa/src/components/formFields/MultilineTextFieldEditor.tsx
  frontend/apps/pwa/src/components/formFields/QuantityFieldEditor.tsx
  frontend/apps/pwa/src/components/formFields/SingleSelectFieldEditor.tsx
  frontend/apps/pwa/src/components/formFields/TextFieldEditor.tsx
  frontend/apps/pwa/src/components/formFields/WeekFieldEditor.tsx
  frontend/apps/pwa/src/components/formFields/types.ts
  frontend/apps/pwa/src/features/browser/FormBrowser.tsx
  frontend/apps/pwa/src/features/browser/RecordFieldList.tsx
  frontend/apps/pwa/src/types/Field.ts
Due: pull-core-frontend-test

Remove subrecord parsing from frontend client
  frontend/packages/core-api-client/src/client/Record.ts
Due: pull-core-frontend-test

Extend StringOrArray to support sub form values
  pkg/api/types/record.go
Due: pull-core-go-test

Add tests for sub form values
  pkg/api/types/record_test.go
Due: pull-core-go-test

Read sub form values when reading a record
  pkg/sqlmanager/reader.go
Due: pull-core-go-test

Add arg to test function call
  pkg/sqlmanager/reader_test.go
Due: pull-core-go-test

Update OWNERS
  OWNERS
Due: none

Don't error if subrecords are missing
  pkg/sqlmanager/reader.go
Due: pull-core-go-test

Fix arg spreading
  pkg/sqlmanager/reader.go
Due: pull-core-go-test

Update snapshot
  frontend/apps/core-app/src/components/RecordView/__tests__/__snapshots__/FieldValue.component.test.tsx.snap
Due: pull-core-frontend-test

Add stubs for recipient registration child components
  frontend/apps/core-app/package.json
  frontend/apps/core-app/src/components/RecordEditor/FieldInput/CheckboxFieldInput.component.tsx
  frontend/apps/core-app/src/components/RecordEditor/FieldInput/DateFieldInput.component.tsx
  frontend/apps/core-app/src/components/RecordEditor/FieldInput/FieldInput.container.tsx
  frontend/apps/core-app/src/components/RecordEditor/FieldInput/MonthFieldInput.component.tsx
  frontend/apps/core-app/src/components/RecordEditor/FieldInput/MultiSelectFieldInput.component.tsx
  frontend/apps/core-app/src/components/RecordEditor/FieldInput/MultilineTextFieldInput.component.tsx
  frontend/apps/core-app/src/components/RecordEditor/FieldInput/ReferenceFieldInput.component.tsx
  frontend/apps/core-app/src/components/RecordEditor/FieldInput/SingleSelectFieldInput.component.tsx
  frontend/apps/core-app/src/components/RecordEditor/FieldInput/SubFormFieldInput.component.tsx
  frontend/apps/core-app/src/components/RecordEditor/FieldInput/TextFieldInput.component.tsx
  frontend/apps/core-app/src/components/RecordEditor/FieldInput/WeekFieldInput.component.tsx
  frontend/apps/core-app/src/components/RecordEditor/FieldInput/index.ts
  frontend/apps/core-app/src/components/RecordEditor/RecordEditor.component.tsx
  frontend/apps/core-app/src/components/RecordEditor/RecordEditor.container.tsx
  frontend/apps/core-app/src/components/RecordEditor/index.ts
  frontend/apps/core-app/src/config.ts
  frontend/apps/core-app/src/screens/RecipientRegistrationScreen/RecipientRegistrationScreen.component.tsx
  frontend/apps/core-app/src/screens/RecipientRegistrationScreen/RecipientRegistrationScreen.container.tsx
  frontend/apps/core-app/src/screens/RecipientRegistrationScreen/__tests__/buildDefaultRecord.test.ts
  frontend/apps/core-app/src/screens/RecipientRegistrationScreen/buildDefaultRecord.ts
  frontend/yarn.lock
Due: pull-core-frontend-test

Move native base to peer deps in design system
  frontend/packages/design-system/package.json
  frontend/yarn.lock
Due: pull-core-frontend-test

Fix props in test
  frontend/apps/core-app/src/screens/RecipientRegistrationScreen/__tests__/RecipientRegistrationScreen.component.test.tsx
Due: pull-core-frontend-test

Update snapshots
  frontend/apps/core-app/src/components/RecordView/__tests__/__snapshots__/FieldValue.component.test.tsx.snap
  frontend/apps/core-app/src/components/RecordView/__tests__/__snapshots__/SubformFieldValue.component.test.tsx.snap
  frontend/apps/core-app/src/screens/RecipientRegistrationScreen/__tests__/__snapshots__/RecipientRegistrationScreen.component.test.tsx.snap
Due: pull-core-frontend-test

unify versions of native base
  frontend/apps/core-app/package.json
  frontend/apps/native/package.json
  frontend/apps/pwa/package.json
  frontend/package.json
  frontend/packages/design-system/package.json
  frontend/storybook/package.json
  frontend/yarn.lock
Due: pull-core-frontend-test

Add ios generated files to gitignore
  frontend/apps/core-app/.gitignore
Due: pull-core-frontend-test

Update scheme to be the same as package
  frontend/apps/core-app/app.json
Due: pull-core-frontend-test

Add reanimated babel plugin
  frontend/apps/core-app/babel.config.js
Due: pull-core-frontend-test

Setup dev client on development build
  frontend/apps/core-app/eas.json
Due: pull-core-frontend-test

Import dev client
  frontend/apps/core-app/index.js
Due: pull-core-frontend-test

Add new redirect uris
  cmd/devinit/core_native_app.go
Due: pull-core-go-test

Fix expo package verisons
  frontend/apps/core-app/package.json
  frontend/yarn.lock
Due: pull-core-frontend-test

migrate to react-router v6
  frontend/apps/core-authnz-frontend/package.json
  frontend/apps/core-authnz-frontend/src/App.tsx
  frontend/apps/core-authnz-frontend/src/components/AuthenticatedApp.tsx
  frontend/apps/core-authnz-frontend/src/components/Router.tsx
  frontend/apps/core-authnz-frontend/src/components/clients/ClientEditor.tsx
  frontend/apps/core-authnz-frontend/src/components/clients/Clients.tsx
  frontend/apps/core-authnz-frontend/src/components/navbar/NavBar.tsx
  frontend/apps/core-authnz-frontend/src/components/organizations/OrganizationOverview.tsx
  frontend/apps/core-authnz-frontend/src/components/organizations/OrganizationPortal.tsx
  frontend/apps/core-authnz-frontend/src/components/organizations/OrganizationSideBar.tsx
  frontend/apps/core-authnz-frontend/src/components/organizations/Organizations.tsx
  frontend/apps/core-authnz-frontend/src/components/organizations/identityproviders/IdentityProviderEditor.tsx
  frontend/apps/core-authnz-frontend/src/components/organizations/identityproviders/IdentityProviders.tsx
  frontend/apps/core-authnz-frontend/src/hooks/hooks.tsx
  frontend/apps/pwa/package.json
  frontend/apps/pwa/src/App.tsx
  frontend/apps/pwa/src/Router.tsx
  frontend/apps/pwa/src/components/AuthenticatedApp.tsx
  frontend/apps/pwa/src/features/browser/Browser/AddFolderButton.tsx
  frontend/apps/pwa/src/features/browser/Browser/AddFormButton.tsx
  frontend/apps/pwa/src/features/browser/Browser/Browser.component.tsx
  frontend/apps/pwa/src/features/browser/Browser/Browser.container.tsx
  frontend/apps/pwa/src/features/browser/Browser/DatabaseBrowser.container.tsx
  frontend/apps/pwa/src/features/browser/Browser/EmptyState.tsx
  frontend/apps/pwa/src/features/browser/Browser/FolderBrowser.container.tsx
  frontend/apps/pwa/src/features/browser/Browser/index.ts
  frontend/apps/pwa/src/features/browser/Browser/types.ts
  frontend/apps/pwa/src/features/browser/FolderBrowser.tsx
  frontend/apps/pwa/src/features/browser/FolderRow.tsx
  frontend/apps/pwa/src/features/browser/FormBrowser.tsx
  frontend/apps/pwa/src/features/databases/DatabaseEditor.tsx
  frontend/apps/pwa/src/features/folders/FolderEditor.tsx
  frontend/apps/pwa/src/features/former/FormerContainer.tsx
  frontend/apps/pwa/src/features/navbar/navbar.tsx
  frontend/apps/pwa/src/features/recorder/RecordEditor.container.tsx
  frontend/packages/core-auth/src/components/AuthWrapper.tsx
  frontend/storybook/package.json
  frontend/yarn.lock
Due: pull-core-frontend-test

PR comments
  frontend/apps/core-authnz-frontend/package.json
  frontend/apps/core-authnz-frontend/src/components/Router.tsx
  frontend/apps/core-authnz-frontend/src/components/clients/Clients.tsx
  frontend/apps/core-authnz-frontend/src/components/organizations/Organizations.tsx
  frontend/packages/core-auth/src/components/AuthWrapper.tsx
  frontend/storybook/package.json
  frontend/yarn.lock
Due: pull-core-frontend-test

take routes from useMatch hook
  frontend/apps/core-authnz-frontend/src/components/clients/Clients.tsx
  frontend/apps/core-authnz-frontend/src/components/organizations/Organizations.tsx
Due: pull-core-frontend-test

Run expo without dev client and add separate script to run with dev client
  frontend/apps/core-app/package.json
Due: pull-core-frontend-test

Update yarn.lock
  frontend/yarn.lock
Due: pull-core-frontend-test

COR-489: load recipient into profile page
  Makefile
  frontend/apps/core-app/src/screens/RecipientListScreen/RecipientListScreen.component.tsx
  frontend/apps/core-app/src/screens/RecipientProfileScreen/RecipientProfileScreen.component.tsx
  frontend/apps/core-app/src/screens/RecipientProfileScreen/RecipientProfileScreen.container.tsx
  frontend/packages/core-api-client/src/client/Recipient.ts
  frontend/packages/core-api-client/src/client/Record.ts
  frontend/packages/core-api-client/src/types/client/Recipient.ts
  scripts/serve-app.sh
Due: pull-core-frontend-test

COR-489: get ancestry of record and modify for display
  frontend/apps/core-app/src/components/Accordion/Accordion.component.tsx
  frontend/apps/core-app/src/components/Accordion/index.ts
  frontend/apps/core-app/src/screens/RecipientListScreen/RecipientListScreen.component.tsx
  frontend/apps/core-app/src/screens/RecipientProfileScreen/RecipientProfileScreen.component.tsx
  frontend/apps/core-app/src/screens/RecipientProfileScreen/RecipientProfileScreen.container.tsx
  frontend/packages/core-api-client/src/client/BaseRESTClient.ts
  frontend/packages/core-api-client/src/client/Client.ts
  frontend/packages/core-api-client/src/client/Form.ts
  frontend/packages/core-api-client/src/client/Recipient.ts
  frontend/packages/core-api-client/src/types/model/Form.ts
Due: pull-core-frontend-test

COR-489: clean up imports
  frontend/apps/core-app/src/screens/RecipientProfileScreen/RecipientProfileScreen.component.tsx
  frontend/apps/core-app/src/screens/RecipientProfileScreen/RecipientProfileScreen.container.tsx
Due: pull-core-frontend-test

COr-489: snapshots & small fix
  frontend/apps/core-app/src/screens/RecipientListScreen/__tests__/__snapshots__/RecipientListScreen.component.test.tsx.snap
  frontend/apps/core-app/src/screens/RecipientProfileScreen/RecipientProfileScreen.component.tsx
  frontend/apps/core-app/src/screens/RecipientProfileScreen/__tests__/RecipientProfileScreen.component.test.tsx
  frontend/apps/core-app/src/screens/RecipientProfileScreen/__tests__/__snapshots__/RecipientProfileScreen.component.test.tsx.snap
Due: pull-core-frontend-test

COR-489: PR comments
  frontend/apps/core-app/src/components/Accordion/Accordion.component.tsx
  frontend/apps/core-app/src/components/Accordion/index.ts
  frontend/apps/core-app/src/screens/RecipientProfileScreen/RecipientProfileScreen.component.tsx
  frontend/apps/core-app/src/screens/RecipientProfileScreen/RecipientProfileScreen.container.tsx
  frontend/apps/core-app/src/screens/RecipientProfileScreen/__tests__/RecipientProfileScreen.component.test.tsx
  frontend/apps/core-app/src/screens/RecipientProfileScreen/__tests__/__snapshots__/RecipientProfileScreen.component.test.tsx.snap
  frontend/packages/core-api-client/src/client/Form.ts
  frontend/packages/core-api-client/src/client/Recipient.ts
  frontend/packages/core-api-client/src/types/client/Recipient.ts
  frontend/packages/core-api-client/src/types/model/Form.ts
Due: pull-core-frontend-test

COR-489: add test for prettifyData
  frontend/apps/core-app/src/config.ts
  frontend/apps/core-app/src/screens/RecipientProfileScreen/RecipientProfileScreen.container.tsx
  frontend/apps/core-app/src/screens/RecipientProfileScreen/__tests__/prettifyData.test.ts
  frontend/apps/core-app/src/screens/RecipientProfileScreen/prettifyData.ts
Due: pull-core-frontend-test

COR-489: PR comments
  frontend/apps/core-app/src/screens/RecipientProfileScreen/RecipientProfileScreen.container.tsx
  frontend/packages/core-api-client/src/client/Form.ts
  frontend/packages/core-api-client/src/client/Recipient.ts
Due: pull-core-frontend-test

COR-489: add tests for recipient client, GET
  frontend/packages/core-api-client/.gitignore
  frontend/packages/core-api-client/babel.config.js
  frontend/packages/core-api-client/package.json
  frontend/packages/core-api-client/src/client/Recipient.ts
  frontend/packages/core-api-client/src/client/__tests__/Recipient.test.ts
  frontend/packages/core-api-client/tsconfig.json
  frontend/yarn.lock
Due: pull-core-frontend-test

COR-489: remove wrong import
  frontend/packages/core-api-client/src/client/Recipient.ts
Due: pull-core-frontend-test

Implement CheckboxFieldInput
  frontend/apps/core-app/src/components/RecordEditor/FieldInput/CheckboxFieldInput.component.tsx
Due: pull-core-frontend-test

buildDefaultFormValues tests
  frontend/apps/core-app/src/screens/RecipientRegistrationScreen/__tests__/buildDefaultFormValues.test.ts
  frontend/apps/core-app/src/screens/RecipientRegistrationScreen/buildDefaultFormValues.ts
Due: pull-core-frontend-test

Fix modal closing
  frontend/apps/core-app/src/components/RecordEditor/FieldInput/SubFormFieldInput.component.tsx
Due: pull-core-frontend-test

Path conditions:
  pull-core-frontend-test: any of: frontend/.*
  pull-core-pwa-test: any of: ^web/pwa
  pull-core-web-frontend-test: any of: ^web/app/frontend|^web/designsystem|^web/auth|^web/client
  pull-core-web-auth-test: any of: web/auth/*
  pull-core-go-test: any of: .go$|^go.mod$|^go.sum$
